/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_532e59f4a3a4f0f010b27e59e64d2969.eot");
  src: url("./fontcustom_532e59f4a3a4f0f010b27e59e64d2969.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_532e59f4a3a4f0f010b27e59e64d2969.woff") format("woff"),
       url("./fontcustom_532e59f4a3a4f0f010b27e59e64d2969.ttf") format("truetype"),
       url("./fontcustom_532e59f4a3a4f0f010b27e59e64d2969.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_532e59f4a3a4f0f010b27e59e64d2969.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-Aesthetic:before,
.icon-Clothing:before,
.icon-Colour:before,
.icon-Concept_2:before,
.icon-Emotion:before,
.icon-Focus:before,
.icon-Gender:before,
.icon-GorKDr47F0:before,
.icon-Scenario:before,
.icon-Thene:before,
.icon-arrow-in-circle-point-to-up:before,
.icon-plus-button:before,
.icon-square:before,
.icon-tennis:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-Aesthetic:before { content: "\f101"; }
.icon-Clothing:before { content: "\f102"; }
.icon-Colour:before { content: "\f103"; }
.icon-Concept_2:before { content: "\f104"; }
.icon-Emotion:before { content: "\f105"; }
.icon-Focus:before { content: "\f106"; }
.icon-Gender:before { content: "\f107"; }
.icon-GorKDr47F0:before { content: "\f108"; }
.icon-Scenario:before { content: "\f109"; }
.icon-Thene:before { content: "\f10a"; }
.icon-arrow-in-circle-point-to-up:before { content: "\f10d"; }
.icon-plus-button:before { content: "\f100"; }
.icon-square:before { content: "\f10b"; }
.icon-tennis:before { content: "\f10c"; }
