body
{
  background-color: #ECF0F1!important;
}
.wrapper
{
	background-color: #ECF0F1;
  width: 100%;
  height: auto;
}
.header
{
	width: 100%;
  height: 50px;
  background: #FEFEFE;
  position: fixed;
  box-shadow: 0px 1px 3px gray;
  z-index: 100;
}
.ui-view-container
{
  margin-top: 50px;
  margin-left: 100px;
}
aside.side-bar
{
  width: 200px;
  height: 100vh;
  background: #34485E;
  float: left;
  position: fixed;
  margin-top: 50px;
}
.bold-data
{
  font-weight: bold!important;
}
.admin-row
{
	/*width: 100%;*/
  height: auto;
  margin-left: 100px;
}
.container-table
{
  height: 250px;
  overflow: auto;
}
.admin-row div form
{
	margin-top: 10px;
}
.side-bar ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.side-bar ul li
{
  transition: all 1.5s;
  float: left;
  width: 100%}
.side-bar ul li.active
{
	background: black;
}
.side-bar ul > li > a
{
    padding: 8px 20px;
    font-size: 20px;
    color: white;
    display: block;
}
.side-bar ul > li > a:hover
{
	background: black;
	transition: 1.5s all;
}
.side-bar ul li ul li a
{
    font-size: 15px;
    color: white;
    padding: 5px 10px 5px 40px;
}
.side-bar ul li a:active
{
    background: none;
}
.side-bar ul li a:focus
{
    background: #000;
}
.side-bar ul li a:hover, .side-bar ul li a:active
{
	text-decoration: none;
}
section.logo
{
	padding: 12px;
 	font-weight: bold;
}
.custom-glyphicon-off
{
	color: #29A7A0;
	font-size: 25px;
	margin: 3px;
}

.remove-row
{
  margin: 0!important;
}
/* Deliver Experiment Resul - Admin Dashboard */
.back-to-dasboard-btn
{
  padding: 10px;
  background-color: #28A6A0;
  color: white;
  font-family: 'Raleway';
  font-size: 20px;
  border-radius: 5px;
}
.demo-images-btn
{
  padding: 10px;
  background-color: #F1C42C;
  color: black;
  font-family: 'Raleway';
  font-size: 20px;
   border-radius: 5px;
}
.btn-container
{
  margin-bottom: 20px;
}
.custom-predict-row
{
  margin: 0!important;
  border: 2px solid #B5B0B0;
  border-radius: 5px;
}
.custom-predict-row p
{
  font-family: 'Arial';
  margin: 10px;
}
.predict-image-container
{
  margin-top: 20px;
}
.predict-image-container img
{
  width: 70%;
  height: 200px;
}
.text-predict-image-container
{
    width: 70%;
}
.text-predict-image-container h3
{
  margin: 2px;
  font-family: 'Raleway';
}
.custom-glyphicon-info-sign
{
  font-size: 25px;
  color: #BDC3C7;
  float: left;
}
.list-predict-info
{
  /*margin-top: 10px;*/
}
.list-predict-info h4
{
  margin-top: 3px;
  margin-left: 35px;
  color: #53585F;
}

.custom-default-image-result-show-container
{
  margin-top: 10px;
  border-radius: 5px;
}
.custom-default-image-result-show-container .panel-heading
{
  background-color: #BDC3C7!important;
  border-radius: 0px!important;
}
.custom-info-show-images
{
  margin-left: 5px;
  font-size: 20px;
  color: #DCDEE0;
  top: 5px;
}
.custom-default-image-result-show-container .panel-body
{
  background-color: #ECF0F1;
  height: 430px;
  overflow: auto;
}
.row-divider
{
  margin-bottom: 20px;
}

.custom-default-image-result-show-container .panel-body::-webkit-scrollbar {
   width: 12px;
}

.custom-default-image-result-show-container .panel-body::-webkit-scrollbar-track { 
   border-radius: 5px;
}

.custom-default-image-result-show-container .panel-body::-webkit-scrollbar-thumb {
    background-color: #BDC3C7 ;
    border-radius: 5px;
}
.sub-content-wrapper {
    width: 100%;
    background: #fff;
    border: 2px solid #C8CED1;
    border-radius: 4px;
    overflow: hidden;
    min-height: 500px;
    margin-bottom: 50px;
    padding: 15px 0;
}
.experiment-input {
    margin-top: 10px;
}
.experiment-input input {
  border-radius: 0;
  width: 60%;
  display: inline-block;
}
.experiment-input label {
    width: 35%;
}
#experiment-curated img:hover {
  cursor: pointer;  
}
.image-resut-panel-default
{
  margin-top: 20px
}
.image-result-holder, .image-result-container
{
  width: 100%;
  height: auto;
}
.image-result-holder img
{
  width: auto;
  height: 140px;
  margin: 30px auto;
}
.image-result-id
{
  float: left;
  margin-right: 10px;
}
.image-result-id h3
{
  padding: 20px;
}
.btn-download
{
  background-color: #29A7A0!important;
  color: white;
  margin-right: 10px;
}
.custom-list-image-delete
{
  cursor: pointer;
}
.clear-both
{
  clear: both;
}
.hr-custom
{
  width: 90%;
}
.row.row-divider > div {
    height: 140px;
}
.row.row-divider > div:hover .option {
    visibility: visible;
}
.option {
    position: absolute;
    right: 25px;
    text-align: right;
    color: #fff;
    padding: 0;
    visibility: hidden;
    top: 5px;
}
.input-group-wrapper {
    display: inline-block;
    width: 60%;
}
.input-group-wrapper .input-group {
    margin-top: 10px;
}
.custom-nav-tabs
{
  width: 30%!important;
  margin: 0 auto!important;
  padding: 30px!important;
}
.custom-tab-content
{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.loading-images
{
  margin-left: 10px;
  display: none;
}
.loader-state-btn
{
  transition: all 1.5s ease;
  background-color: #929DA7;
  border-color: #9FA6AD;
}