


/* SAVED RESULTS*/

.section-content .results-container{
	background: #FFFFFF;
	padding: 20px 30px 30px 30px;
	border: 1px solid #bbb;
	border-radius: 5px;
}

.section-content .options{
	width: 100%;
}

.section-content .options button{
	width: 25%;
	font-weight: 700;
}


/* PREDICT */

.section-content .predict-container,
.section-content .demo-predict-container, 
.section-content .process-container, 
.section-content .result-container{
	background: #FFFFFF;
	padding: 20px 10px 30px 10px;
	/*margin: 25px 0;*/
	border: 1px solid #bbb;
	border-radius: 5px;
}

.section-content .predict-container .platform{
	display: inline-block;
}

/* REPORT */

.tag-val{
	border:2px solid #DBDBDB;
	padding: 10px 15px;
	text-align: center;
	margin: 10px 20px;
	border-radius: 10px;
}

/* REPORT CHART MODAL */

#myModal .modal-header {
    background: #34485E;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: #FFF;
    padding: 9px 15px;
}

#myModal .modal-content{
	border-radius:13px;
}

.left-ctr, .left-tags {
    width: 99%;
    margin: 0 auto;
    margin-top: 25px;
}

.left-tags{
	margin-top: 0px !important;
}


.left-col img{
	border: 2px solid #999;
    border-radius: 5px;
}

.left-col .ctr-bar{
	height:10px !important;
	margin-top: 5px;	
	width: 100%;
	 /* fallback */
	  background-color:#00A65A;
	  background-repeat: repeat-y;

	  /* Safari 4-5, Chrome 1-9 */
	  background: -webkit-gradient(linear, left top, right top, from(#60C37A), to(#EFF3ED));

	  /* Safari 5.1, Chrome 10+ */
	  background: -webkit-linear-gradient(left, #EFF3ED, #60C37A);

	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(left, #EFF3ED, #60C37A);

	  /* IE 10 */
	  background: -ms-linear-gradient(left, #EFF3ED, #60C37A);

	  /* Opera 11.10+ */
	  background: -o-linear-gradient(left, #EFF3ED, #60C37A);
}

.left-col .fa{
	position: absolute;
	top:-5px;
	font-size: 20px;
}

.left-col .fa-long-arrow-down{
	left:10%;
	color:#01882B;
}

.left-col .avg-arrow{
	top: 5px;
	color:#05410A;
	border-left: 2px solid #C9302C;
	height: 10px;
	left: 8%;
}

.left-col .ctr{
	font-size: 12px !important;
	position: absolute;
	top: -20px;
	left: 11%;

}

.left-col .avg{
	font-size: 12px !important;
	position: absolute;
	top:20px;
	left: 8%;

}

.right-col .bot{
	position: relative;
}

.right-col .ctr-bar{
	height:8px !important;
	margin-top: 5px;	
	width: 100%;
	 /* fallback */
	  background-color:#00A65A;
	  background-repeat: repeat-y;

	  /* Safari 4-5, Chrome 1-9 */
	  background: -webkit-gradient(linear, left top, right top, from(#60C37A), to(#EFF3ED));

	  /* Safari 5.1, Chrome 10+ */
	  background: -webkit-linear-gradient(left, #EFF3ED, #60C37A);

	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(left, #EFF3ED, #60C37A);

	  /* IE 10 */
	  background: -ms-linear-gradient(left, #EFF3ED, #60C37A);

	  /* Opera 11.10+ */
	  background: -o-linear-gradient(left, #EFF3ED, #60C37A);
}

.right-col .options a{
	background: #404040;
	color: #FFF;
}

.right-col .fa{
	position: absolute;
	top:-5px;
	font-size: 13px;
}

.right-col .fa-long-arrow-down{
	left:10%;
	color:#01882B;
	left: 20%;
}

.right-col .avg-arrow{
	margin-top: 5px;
	color:#05410A;
	border-left: 2px solid #C9302C;
	height: 8px;
	left: 14%;
}

.right-col .ctr{
	font-size: 9px !important;
	position: absolute;
	top: -15px;
	left: 20%;
}

.right-col .avg{
	font-size: 9px !important;
	position: absolute;
	/*top:20px;*/
	left: 14%;
}

.right-col .bot{
	font-size: 8px !important;
}

.left-col .tags-ul li{
	padding: 5px 20px;
	background: #E67E22;
	border-radius:2px;
	color: #FFF;
}

.right-col {
    background: #ECF0F1;
    border-radius: 5px;
    padding: 20px;
    width: 96% !important;
    margin: 0 15px;
    text-align: center;
    height: 645px;
    overflow-y: scroll;
}

.right-col .ctrs{
	margin-top: 5px;
	padding: 10px;
	background: #DBDBDB;
	border-radius: 2px;
}

.related-gallery li{
	margin-bottom: 15px !important;
	width: 32%;
}

.thumbnail{
	margin-bottom: 15px !important;
	/*margin-top: 10px !important;*/
}

.details-info{
	background:#E2F0D9;
	padding:10px;
	border-radius:5px;
	position:absolute;
	top:5px;
	right:20px;
	width:50%;
}

.tags-ul li{
	margin: 2px;
}

.isFirstTime .modal-content{
	border: 2px solid #C8CED1;
    border-radius: 4px;
}

.isFirstTime .title-main{
	margin-left: 0px;
	background: #34485E;
    padding: 5px 0px;
    color: #FFF
}


.isFirstTime .main-body{
	padding-top: 25px;
	background: #F7F7F7;
}

.isFirstTime {
	min-height: 650px;
}

.isFirstTime .blocks{
	width:30%;
	/*height: 250px;*/
	/*background: #F7F7F7;*/
	padding:0 20px;
	padding-bottom: 40px;
	font-size: 11px;	
	display: inline-block;
	margin: 0px 13px 20px 13px;
}

.isFirstTime .blocks .row:nth-child(1){
	border: 1px solid #DBDBDB;
	border-radius: 4px 4px 0 0;
	border-width: 1px 1px 1px 1px;
	padding-top: 10px;
	background: #DBDBDB;

}
.isFirstTime .blocks .row:nth-child(2){
	border: 1px solid #DBDBDB;
	border-width: 0px 1px;
	padding: 10px 0;
}
.isFirstTime .blocks .row:nth-child(3){
	border: 1px solid #DBDBDB;
	border-width: 0px 1px 1px 1px;
	padding: 10px 0;
}

.isFirstTime .blocks .title{
	padding: 0px;
	font-size: 18px;
	margin-bottom: 15px;
}

.isFirstTime .blocks .best-ctr{
	color:green;
}
.isFirstTime .blocks .worst-ctr{
	color:red;
}

.isFirstTime .top,.isFirstTime .bottom{
	padding: 15px;
    margin: 15px;
    border: 2px solid #DBDBDB;
    border-radius: 5px;
    background: #F8F8F8;
}

.isFirstTime .top ul,.isFirstTime .bottom ul{
	list-style-type: none;
	padding-left: 0px;
}

.isFirstTime .top ul li{
	line-height: 1.5;
	color: #777;
	font-weight: 600;
	text-align: right;
}

.isFirstTime .bottom ul li{
	line-height: 2.5;
	/*text-align: center;*/
}

.isFirstTime .top ul li span:nth-child(1){
	float: left;
	margin-top: 10px;
}

.isFirstTime .top ul li i{
	/*padding: 1px;*/
	border-radius: 4px;
	background: #E9E9E9;
	font-size: 22px;
}

.isFirstTime .top ul li i:before{
	margin: 0 4px 0 2px;
}

    

.isFirstTime .top .footer,.isFirstTime .bottom .footer{
	text-align: center;
}

.isFirstTime .bottom .gallery ul li img{
	width: 13%;
	margin: 0px 5px;
}

.isFirstTime .bottom .engage ul li img{
	height: 30px;
    width: 170px;
    border: 1px solid #F0F0F0;
    border-width: 1px 0 1px 0;
}

.isFirstTime button{
	border: none;
	background: #E4E9ED;
	color: #555;
}

.isFirstTime button.actives{
	background: #D74F35;
	color: #FFF;
}