 /*---------* Reset CSS *------------ */

/*
/* ---------* end: Reset CSS *------- */




/* ---------* Header *---------------- */



/* ---------* end: Header *----------- */




/* ---------* Body *------------------ */
/*div.section-wrapper{
	
	margin: 25px 0 5px 0;
}
section.container{
	width: 100%;
	margin: 0px auto;

}*/


.section-content .engagement{
	margin: 30px 0 20px 0;
	/*margin-left: 10px;*/
}

.section-content .home{
	margin-top: 5px;
	/*text-align: center;*/
}

.engagement .engagement-infos {
    background: #FFF;
    /* text-align: center; */
    display: inline-block;
    margin: 10px 0px 10px 10px;
    min-height: 100px;
    width: 15.5% !important;
    border-radius: 3px;
    box-shadow: 0px 3px 1px #BBB;
    padding: 10px;
}

@media only screen and ( max-width: 1250px ){
	.engagement .engagement-infos{
		background: #FFF;
		/*text-align: center;*/
		display: inline-block;
	    margin: 10px 18px 25px 18px;
		min-height: 100px;
		width: 30% !important;
		border-radius: 3px;
	    box-shadow: 0px 3px 1px #BBB;
	    padding: 10px;
	}

	.section-content .eng-title{
	    margin-left: 15px;
	}

	.section-content .engagement-infos .eng-icon{
	    text-align: center;
	}

	.section-content .engagement-infos .eng-icon span {
	    font-size: 55px !important;
	    padding: 12px 0 !important;
	    text-align: center;
	    width: 80px !important;
	    height: 80px !important;
	    margin: 10px 0;
	    border-radius: 50%;
	}

	.section-content .engagement-infos .eng-icon img {
        width: 80px !important;
    	height: 80px !important;
	}



	.section-content .engagement-infos .digits {
	    padding: 15px 0 0 0;
	    margin: 0;
	    font-size: 30px !important;
	}

	.section-content .engagement-infos .desc {
	    /* padding: 5px; */
	    color: #5f6b64;
	    font-size: 14px !important;
	}

	.section-content .engagement-infos .btm {
	    /*width: 100%;*/
	    /*border-top: 1px solid #EBEBEB;*/
	    margin: 0 auto;
	    padding: 5px !important;
	    text-align: center;
	}
}

@media only screen and ( max-width: 1236px ){
	.engagement .engagement-infos {
	    background: #FFF;
	    /* text-align: center; */
	    display: inline-block;
	    margin: 10px 26px 25px 25px;
	    min-height: 100px;
	    width: 28% !important;
	    border-radius: 3px;
	    box-shadow: 0px 3px 1px #BBB;
	    padding: 0;
	}
}

@media only screen and ( max-width: 1146px ){
	.engagement .engagement-infos {
	    margin: 10px 26px 25px 25px;
	}
}

@media only screen and ( max-width: 1115px ){
	.engagement .engagement-infos {
        width: 29% !important;
	}
}

@media only screen and ( max-width: 1080px ){
	.engagement .engagement-infos {
        width: 28% !important;
	}
}

@media only screen and ( max-width: 800px ){
	.engagement .engagement-infos {
	    margin: 10px 15px 25px 15px !important;
	    width: 28.2% !important;
	}

	.engagement .engagement-infos .specs{
	    text-align: center !important; 
	}
}


.dropdown-menu.table-influ{
	top: 40px !important;
	right: 0;
    left: auto;
}

.section-content .engagement-infos .digits{
	padding: 15px 0 0 0;
    margin: 0;
    font-size: 19px;
}

.section-content .engagement-infos .desc{
	/*padding: 5px;*/
	color: #5f6b64;
	font-size: 11px;
}

.section-content .engagement-infos .eng-icon span{
    font-size: 30px;
    padding: 9px 0;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 10px 0;
    border-radius: 50%;
}



.section-content .engagement-infos .btm {
    margin: 0 auto;
    padding: 5px !important;
    border-top: 1px solid #EBEBEB;
    text-align: center;
}

.section-content .engagement-infos .btm a{
    color: #2BAEA8 !important;	
}

.section-content .engage-btm{
    margin-top: 20px;	
}

.section-content .engage-btm .left .left-box{
    /* text-align: center; */
    background: #FFF;
    display: inline-block;
    margin: 10px 15px;
    min-height: 100px;
    width: 47% !important;
    border-radius: 3px;
    /*box-shadow: 0px 5px 1px #30ADA4;*/
    box-shadow: 0px 3px 1px #BBB;
    padding: 0;
}	

.section-content .engage-btm .left .left-box .box-title{
    padding: 5px 15px;
    border-bottom: 1px solid #EBEBEB;
    font-size: 12px;
}

@media only screen and ( max-width: 1185px ){
	.section-content .engage-btm .left .left-box {
	    /* text-align: center; */
	    background: #FFF;
	    display: inline-block;
	    margin: 10px 15px !important;
	    min-height: 100px;
	    width: 100% !important;
	    border-radius: 3px;
	    /* box-shadow: 0px 5px 1px #30ADA4; */
	    box-shadow: 0px 3px 1px #BBB;
	    padding: 0;
	}
}

@media only screen and ( max-width: 840px ){
	.navbar-logo {
	    padding-left: 0px;
	}
	.company-name-container {
	    padding: 15px 5px;
	}
}

@media only screen and ( max-width: 800px ){
	.section-content .engage-btm .right{
	    margin-top: 20px;
	}	

	.navbar-custom-menu{
		display: none;
	}
}



.section-content .engage-btm .left .left-box .desc{
    text-align: center;
    font-size: 20px;
    padding: 8px;
    font-weight: 700;
}

.section-content .engage-btm .left .left-box .tags-wrapper{
    padding: 0px 0px 20px 35px;
}

.section-content .engage-btm .left .left-box .tags-wrapper .tags{
    display: inline-block;
    width: 45%;
    margin: 5px 10px 5px 0;
    color: #5f6b64;
}

.section-content .engage-btm .right .influencers{
    /* text-align: center; */
    background: #FFF;
    display: inline-block;
    margin: 10px 0px;
    min-height: 100px;
    border-radius: 3px;
    box-shadow: 0px 3px 1px #BBB;
    padding: 0;
}

.section-content .engage-btm .right .table{
    display: table;
    margin-bottom: 0px !important;
}

.section-content .engage-btm .right .table th{
    font-size: 13px;
}

.section-content .engage-btm .right .table td{
    font-size: 12px;
    padding: 5px !important;
    vertical-align: middle;
    color: #5f6b64;
}

.section-content .engage-btm .right .table tbody tr td:nth-child(3){
    color: #5f6b64;
}

@media only screen and ( max-width: 480px ){
	.engagement .engagement-infos {
	    margin: 10px 10px 25px 10px !important;
	    width: 95% !important;
	}

	.engage-btm .left{
		padding-right: 30px;
	}

	.section-content .engage-btm .right .table tr td:nth-child(1), .section-content .engage-btm .right .table tr th:nth-child(1){
	    display: none;
	}
}


.section-content .predict,.section-content .report{
	display: inline-block;
	padding: 60px 40px 50px 40px;
	background: #FFF;
	border-radius: 10px ;
	border: 1px solid #DBDBDB;
	margin: 0 20px;
}

.section-content .icon i{
	font-size: 30px;
	color: #999;
	padding: 22px !important;
	border: 2px solid #999;
	border-radius: 50%;
}

.section-content .title{
	padding: 20px;
	font-weight: 600;
	font-size: 20px;
	color: #666;
}

/*.section-content .desc{
	padding: 20px;
	font-size: 12px;
	color: #666;
}*/

/* UPLOAD IMAGES */

.section-content .navigation{
	background: #34485E;
	border-radius: 4px ; 
	text-align: center;
	width: 60%;
	margin-left: 20px;
}

.uploaded-images button{
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.08);
}



.section-content .navigation li a{
	color: #FFF !important;
	font-size: 30px;
	padding: 5px;
}

.sub-content-wrapper .images-container{
	background: #FFFFFF;
	padding: 20px 30px 30px 30px;
	margin: 5px 0;
}

.sub-content-wrapper .images{
	padding: 10px 0 15px 0;
}
.sub-content-wrapper .images .gallery-category-images .img-thumbnail{
	border:none;
}

.sub-content-wrapper .images .gallery .img-thumbnail{
	border:none;
}

.sub-content-wrapper .images .gallery .groups{
	/*height: 100%;*/
	width: 22.1%;
	display: inline-block;
	margin: 10px 14px;
	background: #fff;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.08);
	/*padding: 5px;*/
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
}

.sub-content-wrapper .images .gallery .groups .group-img{
	text-align: center;
	height: 200px;
}

.sub-content-wrapper .images .gallery .groups .group-img img{
	margin-top: 30px;
}


.sub-content-wrapper .images .gallery .groups .group-title{
	color: #111;
	padding: 5px 10px;
	border: 1px solid #DBDBDB;
	border-width: 1px 0 1px 0;
	margin-top: 5px;
	font-weight: 600;
}

.sub-content-wrapper .images .gallery .groups .group-title a{
	/*text-decoration: underline;*/
	color: #333;
}

.sub-content-wrapper .images .gallery .groups .group-title a:hover{
	text-decoration: underline;
	color: #000;
}


.sub-content-wrapper .images .gallery .groups .group-status{
	font-family: 'arial';
	color: #555;
	padding: 8px 10px;
	font-size: 11px;
}

.sub-content-wrapper .images .gallery .groups span{
	border-right: 1px solid #DBDBDB; 
	padding-right:5px;
}


.sub-content-wrapper .images .gallery-category-images .groups{
	/*height: 100%;*/
	width: 22.1%;
	display: inline-block;
	margin: 10px 14px;
	background: #fff;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.08);
	/*padding: 5px;*/
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
}

.sub-content-wrapper .images .gallery-category-images a .group-img{
	text-align: center;
	/*height: 200px;*/
}

.sub-content-wrapper .images .gallery-category-images a .group-img img{
	/*margin-top: 30px;*/
}


.sub-content-wrapper .images .gallery-category-images a .group-title{
	color: #111;
	padding: 5px 10px;
	border: 1px solid #DBDBDB;
	border-width: 1px 0 1px 0;
	margin-top: 5px;
	font-weight: 600;
}

.sub-content-wrapper .images .gallery-category-images a:hover .group-title{
	text-decoration: underline;
}


.sub-content-wrapper .images .gallery-category-images a .group-status{
	font-family: 'arial';
	color: #555;
	padding: 8px 10px;
	font-size: 11px;
}

.sub-content-wrapper .images .gallery-category-images a span{
	border-right: 1px solid #DBDBDB; 
	padding-right:5px;
}



.sub-content-wrapper .images .list ul{
	padding-left: 20px;
	width: 98%;
}

.sub-content-wrapper .images .list ul li{
	list-style-type: none;
	padding: 5px 10px;
	border-bottom: 1px solid #DBDBDB;
}

.sub-content-wrapper .images .list ul li a{
	color:#111;
	font-size: 18px;
}

.sub-content-wrapper .images .list ul li a:hover{
	text-decoration: underline;
}

.sub-content-wrapper .images .list ul li a span{
	float: right;
	font-size: 12px;
	color:#555;
	padding: 5px;
	border-left: 1px solid #DBDBDB;
}

.sub-content-wrapper .images .filmstrip .strips{
	width: 97%;
	height: 310px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.08);
    border: 1px solid #ddd;
    display: block;
    margin: 10px 15px;
    padding: 10px;
}

.sub-content-wrapper .images .filmstrip .strips .top{
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #DBDBDB;
	color: #111;
	
}

.sub-content-wrapper .images .filmstrip .strips:hover .top .group-title{
	text-decoration: underline;
}

.sub-content-wrapper .images .filmstrip .strips .top span:nth-child(2){
	float: right;
	font-size: 12px;
	padding: 0 5px;
	border-left: 1px solid #DBDBDB;
}

.sub-content-wrapper .images .filmstrip .strips .bottom img{
	width: 21%;
	margin: 5px 10px;
}

.sub-content-wrapper .images .filmstrip .strips .bottom img:nth-child(1){
	margin-left:0px;
}




/*---------START----------*/

.predict-results-wrapper .summary-filters{
    margin-bottom: 40px;
    transition: all 0.5s ease;

}



.predict-results-wrapper .summary-filters span{
    color: #555;
    font-size: 15px;
    margin-left: 10px;
}

.predict-results-wrapper .summary-filters .filterss{
    text-align: center;
    margin-top: 10px;
}

.predict-results-wrapper .summary-filters .dropdown button{
    font-size: 13px;
    border-radius: 0px;
    color: #888;
    padding: 4px 8px;
    box-shadow: 0px 1px 1px #BBB;
}

.predict-results-wrapper .summary-filters .dropdown .dropdown-menu{
    margin-top: 10px;
}

@media only screen and (max-width: 480px){
	.predict-results-wrapper .summary-filters .filterss{
	    width: 100% !important;
	    text-align: left;
	    margin: 10px 0;
	}

	.predict-results-wrapper .summary-filters .filterss .dropdown {
	    text-align: right;
	}

	.predict-results-wrapper .summary-filters .dropdown button {
	    width: 255px;
	    text-align: left;
	}

	.predict-results-wrapper .summary-filters .filterss span.caret {
	    float: right;
        margin-top: 8px;
	}

	.predict-results-wrapper .summary-filters .dropdown .dropdown-menu{
	    margin-top: 10px;
	    width: 255px;
	}
}

.predict-results-wrapper .themes-wrapper,.predict-results-wrapper .demography-wrapper,
.predict-results-wrapper .geo-wrapper,.predict-results-wrapper .interests-wrapper{
    background: #FFF;
    padding: 20px;
    margin-bottom: 10px;
}

.predict-results-wrapper .performance-wrapper{
    background: #FFF;
    /*border: 10px solid #FE9900;*/
    padding: 20px;
    margin-bottom: 10px;
    color: #000;
}

.predict-results-wrapper .right-wrapper{
	transition: all 0.5s ease;
    /*background: #000;*/
}

.predict-results-wrapper .right-wrapper .img-wrapper{
    margin: 0 5px 10px 5px;
    display: inline-block;
    position: relative;
    padding: 15px;
    height: 110px;
    width: 110px;
    background: #FFF;
}

.predict-results-wrapper .right-wrapper .img-wrapper .overlay{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 80px;
    height: 80px;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
}
.predict-results-wrapper .right-wrapper .img-wrapper img{
    /*height: 73px;
    width: 73px;*/
    box-shadow: 2px 2px 2px #999;
}
.predict-results-wrapper .right-wrapper .img-wrapper img.img-avatar{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 3px solid #FFF;
    z-index: 11;
    box-shadow: none;
}

@media only screen and (max-width: 480px){
	.predict-results-wrapper .right-wrapper .img-wrapper{
	    height: 100px;
	    width: 100px;
	}

	.predict-results-wrapper .right-wrapper .img-wrapper .overlay {
	    width: 70px;
	    height: 70px;
	}
}



.predict-modal{
	color: #999 !important;
}


.predict-modal .left .img-wrapper{
    margin-bottom: 10px;
}

/*.predict-modal .left .img-wrapper .overlay{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100%;
    height: 100%;
  	z-index: 10;
  	background-color: rgba(0,0,0,0.2);
}*/

.predict-modal .left .img-wrapper img{
    padding: 25px 0 0 25px;
}


.predict-modal .left .img-wrapper img.img-avatar{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 3px solid #DBDBDB;
    z-index: 11;
    padding: 0;
}

.predict-modal .right .right-btm .right-btm-left{
	margin-right:30px;
	width: 45%;
}

.predict-modal .right .right-btm .right-btm-right{
	width: 48.3%;
}

.predict-modal .right h4{	
	font-weight: 600;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #EEE;
    font-size: 20px;
}

.predict-modal .right .data-bar-wrapper{	
    margin-top: 10px;
    background: #E6E6E6;
    height: 8px;
    border-radius: 2px;
}

.predict-modal .right .data-bar{	
    background: #EC9723;
    height: inherit;
    border-radius: 2px;
}

.predict-modal .right .value{	
	font-weight: 600;
	text-align: center;
}

.predict-modal .data{	
	margin:20px 0;
    font-size: 16px;
}

@media only screen and (max-width:480px){
	.predict-modal .right .right-btm .right-btm-left{
		width: 100% !important;
	}
	.predict-modal .right .right-btm .right-btm-right{
		width: 100% !important;
	}
}

.location-gal .gallery-images>div>img {
	border: 1px solid #F0F0F0;
}

.location-gal .gallery-images .detail span{
	font-size: 14px;
}





/*------START------*/
@media only screen and (min-width: 990px){
	.custom-wrapper{
		margin-right:15px;
	}

	.custom-padding{
		padding:0 15px 0 0!important;
	}

	.custom-padding2{
		padding:0 15px!important;
	}

	#bar-graph{
		margin-left: -20px;
	}

	#pie-graph{
	    margin-left: 45px;
	}

	#line{
		margin-left: 20px
	}

	.influencer-modal .modal-dialog{
	    width: 60%;
	}

	.custom-margin-top{
		margin-top: 0px !important;
	}

	.influencer-info .influencers-left-menu
	{
	    position: fixed;
	}

	.influencer-info .influencers-info
	{
		margin-left: 24%;
	}

	.influencer-info .left-wrapper{
		background: #FFF;
		padding: 15px;
		margin-right: 8px;
		width: 20%;
		height: 80vh;
	    overflow-x: auto;
	}

	/*#graph{
		margin-left: 0px; 
		height: 450px;
	}*/
}
#graph{
	/*margin-left: -70px; */
	height: 380px;
}
.influencer-info .left-wrapper{
	background: #FFF;
	padding: 15px;
	margin-right: 8px;
	height: 80vh;
}

.custom-margin-top{
	margin-top: 15px;
}

.influencer-info .left-wrapper li{
	margin: 0 0 25px 0;
}

.influencer-info .left-wrapper li:nth-child(7){
	margin-bottom:0 !important;
}

.influencer-info .left-wrapper a{
	padding: 0 !important;	
    display: flex;
    align-items: center;
    color: #999;
    transition: all 0.5s ease;
}

.influencer-info .left-wrapper a img{
    max-width: 60px;
    max-height: 60px;
    margin-right: 15px;
}

.influencer-info .right-wrapper{
	/*margin-left: 8px;*/
	/*width: 78% !important;*/
}

.influencer-info .right-wrapper .date-wrapper{
	color: #FFF;
	text-align: center;
	position: relative;
	padding: 50px 0;
}

.influencer-info .right-wrapper .date-wrapper a{
	color: #FFF;
	font-size: 20px;
}

.location-result .right-wrapper .date-wrapper a{
	color: #FFF;
	font-size: 20px;
}


.influencer-info .right-wrapper .date-wrapper .up-arrow{
	position: absolute;
	top: 10px;
	text-align: center;
	width: 100%;
}


.influencer-info .right-wrapper .date-wrapper .down-arrow{
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
}



.influencer-info .right-wrapper .date-wrapper p{
	font-size: 17px ;
	text-align: center;
	margin: 20px 0;
}

.influencer-info .right-wrapper .date-wrapper p.selected{
	font-size: 23px;
}

.influencer-info .right-wrapper .col-md-12{
	/*background: #FFF;*/
	padding: 15px;
}

.influencer-info .right-wrapper img{
	width: 100%;
}

.influencer-info .right-wrapper .info p{
	color: #999;
}

.influencer-info .right-wrapper .gallery-wrapper{
	text-align: left;
	padding: 30px;
}


.influencer-info .right-wrapper .gallery-wrapper .img-wrapper{
	display: inline-block;
	position: relative;
    margin: 15px 13px;
}

.influencer-info .right-wrapper .gallery-wrapper .img-wrapper img{
    width: 180px;
    height: 180px;
    box-shadow: 1px 2px 1px #BBB;
}

.influencer-modal{
    color: #999;
}





.influencer-modal .inception p{
    padding-bottom: 25px;
}

.influencer-modal .inception button{
    padding: 15px;
    width: 100%;
    background: #FD9A00;
    border: none;
    color: #fff;
    margin-top: 35px;
}

.influencer-modal .inception p:nth-child(1){
    padding: 0px;
}
.influencer-modal .engagers-wrapper .engagers{
    display: inline-block;
    margin: 15px 5px 15px 0;
    color: #777;
    width: 164px;
    font-size: 10px;
}

.influencer-modal .engagers-wrapper .engagers img{
	width: 40px;
	height: 40px;
	margin-right: 5px;
}


@media only screen and (max-width: 995px){
	.influencer-info .right-wrapper{
		margin-top: 20px;
	}

	.influencer-info{
	    margin-top: 50px;
	}
}

@media only screen and (max-width: 600px){
	
	.influencer-info .right-wrapper .gallery-wrapper .img-wrapper img{
	    width: 100% !important;
	    height:100% !important;
	}

	.influencer-info .left-wrapper{
		background: #FFF;
		padding: 15px;
		margin-right: 0px;
		/*width: 20%;*/
	}

	

	#graph{
		margin-left: -10px; 
		height: 450px;
	}

	.influencer-modal .engagers-wrapper .engagers {
	    width: 215px;
	}

	.influencer-modal .engagers-wrapper .engagers img {
        width: 80px;
	    height: 80px;
	    margin-right: 10px;
	}
}


/*--------START--------*/
.location{
	margin-top: 30px;
	color: #999;
}

.location .location-table{
	background: #FFF;
}

.location .location-btn{
    background: #0AD9A1;
    padding: 5px;
    color: #FFF;
    border: 3px solid #0AD9A1;
    width: 25%;
}

.location .search-location{
	vertical-align: top;
    border-radius: 0 !important;
    width: 72%;
    margin-right: 5px;
    height: 37px !important;
    font-weight: 500;
}


.location .location-table{
	/*border: 1px solid #999;*/
	margin-top: 10px;
}

.location .location-table thead{
	background: #F8F8F8;

}

.location .location-table thead th{
	font-weight: 500;
	color: #777;
	border-bottom:1px solid #DDD;
    padding: 15px;
}

.location .location-table tbody td{
	font-weight: 500;
	color: #AAA;
	border: none !important;
	padding: 19px 19px 19px 15px;

}

.location .location-table tbody td:nth-child(3){
	text-align: center;
}

.location .location-table tbody td:nth-child(3) a{
	color: #FE9900;
}

.location .map-container{
	margin:0 15px 0 0;
}

@media only screen and (max-width: 600px){
	.location .search-location{
	    width: 100%;
	    margin: 20px 0 10px 0;
	}

	.location .location-btn{
	    width: 100%;
	    margin: 10px 0;
	}

	.location .map-container{
		margin:0 !important;
	}
}

/*----START----*/
    
.location-result .date-wrapper{
    padding: 40px 0px;
}

.location-result .date-wrapper .up-arrow{
	position: absolute;
	top: 10px;
	text-align: center;
	width: 100%;
}


.location-result .date-wrapper .down-arrow{
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
}


.location-result .date-wrapper a{
	color: #FFF !important;
	font-size: 20px;
}

.location-result .date-wrapper p{
	font-size: 23px ;
	text-align: center;
	margin: 20px 0;
	color: #FFF !important;
}

.location-result .date-wrapper p.selected{
	font-size: 30px;
}

.location-result .right-wrapper .img-wrapper{
    margin: 0 5px 10px 0;
    display: inline-block;
    position: relative;
    padding: 15px 0 0 15px;
}

.location-result .right-wrapper .img-wrapper .overlay{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 110px;
    height: 110px;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
}
.location-result .right-wrapper .img-wrapper img{
    height: 110px;
    width: 110px;
    box-shadow: 2px 2px 2px #999;
}
.location-result .right-wrapper .img-wrapper img.img-avatar{
    height: 46px;
    width: 46px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 3px solid #FFF;
    z-index: 11;
    box-shadow: none;
}

@media only screen and (max-width: 480px){
	.location-result .right-wrapper .img-wrapper img {
	    height: 100%;
	    width: 100%;
	}

	.location-result .right-wrapper .img-wrapper .overlay {
	    height: 100%;
	    width: 100%;
	}
}

/*****END OF UPLOAD IMAGES*******/

.sub-content-wrapper{
	overflow: visible;
}

.sub-content-wrapper .head-title{
	text-align: center;
	border-bottom: 1px solid #DBDBDB;
	padding: 5px 20px;
	margin-bottom: 15px;
}


.sub-content-wrapper .head-title span{
	font-size: 20px;
	font-weight: 600;
}


.sub-content-wrapper .hash-container{
	background: #EEEEEE;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #999;
}

.sub-content-wrapper .hash-container .hash-title{
	background: #7F7F7F;
	color: #FFF;
	margin-bottom: 5px;
	font-size: 16px;
	padding: 5px 10px;
	border-radius: 5px 5px 0 0;
}

.sub-content-wrapper .hash-container .hash-images{
	padding: 10px;

}

.sub-content-wrapper .hash-container .hash-images img{
	width: 32%;
	/*height: 150px;*/
	display: inline-block;
	margin: 2px;
	border: 1px solid #DBDBDB;
	border-radius: 2px;
	padding: 8px;
	background: #FAFAFA;
	box-shadow: 0px 2px 3px #BBB;
}

/* ---------* end: Body *------------- */





/* ---------* Footer *---------------- */

/* ---------* end: Footer *----------- */




/* ---------* Custom *---------------- */

.no-padding-left{
	padding-left: 0;
}

.no-padding-right{
	padding-right: 0;
}

.no-padding{
	padding: 0;
}

.triangle{
	width: 15px !important;
	height: 15px !important;
	background: #34485E;
	position: absolute;
	transform:rotate(45deg);
	top: 70px;
	left: 64.5%;
}

.triangle2{
	width: 15px !important;
	height: 15px !important;
	background: #DBDBDB;
	position: absolute;
	transform:rotate(45deg);
	top: 50px;
	left: 7px;
}

.icon-check-mark{ color: #999; font-size: 27px; } /* '' */
.icon-cross-mark{ color: #999; font-size: 27px; } /* '' */
.icon-photograph15{ color: #999; font-size: 27px; } /* '' */
.icon-suitcase54{ color: #999; font-size: 27px; } /* '' */
.icon-circle{ color: #999; font-size: 27px; } /* '' */
.icon-gear{ color: #999; font-size: 27px; } /* '' */
/* ---------* end: Custom *----------- */




/* ---------* Override *---- */

.navbar-right li a{
	padding: 1px 10px !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent; !important;
}

.btn-success{
	background: #17A085 !important;
    border-color: #17A085 !important;
}


.dropdown-menu{
	z-index: 99;
	overflow-y:visible; 
}



/* ---------* end: Override *--------- */
.upload-img-options .filters-wrapper{
	display: inline-block;
	width: 58%;
}


@media only screen and (max-width: 768px){
	.upload-img-options{
		text-align: center;
	}

	.upload-img-options .btn-group{
		display: inline-block;
		width: 98% !important;
	}

	.upload-img-options .filters-wrapper{
		margin: 3px auto;
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	.upload-img-options .filters-wrapper .btn-group{
		margin: 5px 0px;
		display: inline-block !important;
	}

	.upload-img-options .filters-wrapper .btn-group .dropdown-menu{
		width: 100% !important;
	}

	.upload-img-options .filters-wrapper .btn-group button{
		width: 100%;
	}

	.sub-content-wrapper .images .gallery{
		text-align: center;
	}

	.sub-content-wrapper .images .gallery .groups {
	    /* height: 100%; */
	    width: 93%;
	    display: inline-block;
	    margin: 10px auto;
	    text-align: left;
	    background: #fff;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.08);
	    /* padding: 5px; */
	    border: 1px solid #ddd;
	    border-radius: 0 0 4px 4px;
	}

	.sub-content-wrapper .images .gallery .groups .group-img {
	    text-align: center;
	    height: 280px;
	}

	.sub-content-wrapper .images .gallery .groups .group-img img {
	    margin-top: 70px;
	}

	.sub-content-wrapper .images .filmstrip .strips {
	    width: 96%;
	     height: 180px; 
	    background: #fff;
	    border-radius: 4px;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.08);
	    border: 1px solid #ddd;
	    display: block;
	    margin: 10px auto;
	    padding: 10px;
	}

	.sub-content-wrapper .images .filmstrip .strips .bottom img {
	    width: 20%;
	    margin: 5px 10px;
	}

	.sub-content-wrapper .images .gallery-category-images{
		text-align: center;
	}

	.sub-content-wrapper .images .gallery-category-images .groups {
	    /* height: 100%; */
	    width: 98%;
	    display: inline-block;
	    margin: 10px auto;
	    background: #fff;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.08);
	    /* padding: 5px; */
	    border: 1px solid #ddd;
	    border-radius: 0 0 4px 4px;
	}
}

.audience-img{
	width: 60px;
}

.audiences table{
	display: table;
}

.audiences tbody tr td{
	vertical-align: middle;
}