
.icon-circle:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-gear:before { content: '\e802'; } /* '' */
.icon-photograph15:before { content: '\e803'; } /* '' */
.icon-suitcase54:before { content: '\e804'; } /* '' */
.icon-chart:before { content: '\e805'; } /* '' */
.icon-instagram:before { content: '\e806'; } /* '' */