@font-face {
  font-family: 'Montserrat-Light';
  src: url('../css/Montserrat-Light.ttf') format('truetype')
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../css/Montserrat-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../css/Montserrat-Bold.ttf') format('truetype')
}

.cursor-pointer {
    cursor: pointer;
}

/* modified slider*/
.bx-wrapper
{
  border: none!important;
}
.bx-viewport
{
  height: 80vh !important;
  overflow: inherit!important;
}

@media only screen and (max-width: 480px){
  .bx-viewport
  {
    height: 60vh !important;
    overflow: inherit!important;
  }
}
.bx-pager{
  position: absolute!important;
  /*bottom: 0px!important;*/
  left: 0!important;
  width: 100%!important;
  text-align: center!important;
  /*z-index: 1000!important;*/
  word-spacing: -3px!important;
  letter-spacing: -3px!important;
}
.bx-pager .bx-pager-item{
  word-spacing: 0!important;
  letter-spacing: 0!important;
  display: inline-block!important;
}
.bx-pager a{
  display: inline-block!important;
  position: relative!important;
  text-indent: -9999px!important;
  overflow: hidden!important;
  width: 16px!important;
  height: 16px!important;
  border: 1px solid transparent!important;
  border-radius: 50%!important;
  word-spacing: 0!important;
  letter-spacing: 0!important;
  margin: 0 1px!important;
  cursor: pointer!important;
}
.bx-pager a:after{
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  border-radius: 50%;
  background: #c4c4c5;
}
.bx-pager a.active{border: 1px solid #b7b8ba!important;}
.bx-pager a.active:after{background: #fff!important;}
.subscribe-form:after{
  content: ""!important;
  display: block!important;
  clear: both!important;
}



.section-desc h1 {
    font-size: 31px;
    font-weight: 600;
}
.section-desc p {
    font-size: 16px;
}
.section-desc h1,
.section-desc p
{
    color: #7F7F7F;
    margin-bottom: 10px; 
}
.section-desc p span.txt-green {
    color: #1FCAA2;
    font-weight: 600;
    font-size: 31px;
}
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face { 
  font-family:"OpenSansLight";
  src: url("../css/OpenSans-Light.ttf") format( 'truetype' ); 
}
@font-face { 
  font-family:"OpenSansBold";
  src: url("../css/OpenSans-Bold.ttf") format( 'truetype' ); 
}
.custom-navbar
{
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent!important;
}
.custom-navbar-brand
{
  margin-top: 15px;
  /*margin-left: 50px!important;*/
  color: white;
  font-size: 50px;
  font-family: 'Montserrat-Regular';
}
.custom-navbar-brand img
{
  width: auto;
  height: 60px;
  float: left;
  margin-top: -20px;
  transition: all 0.5s ease;
}
.transform-logo
{
  transition: all 0.5s ease!important;
  transform: scale(0.5)!important;
  margin-top: -35px!important;
}
.bxslider img
{
  width: 100%;
  /*max-height: 600px!important;*/
  /*height: 80vh !important;*/
}
/*.custom-navbar-brand img
{
  height: 30px;
  margin-left: 50px;
}*/
.hovered-header-text .navbar-text:hover
{
  color: #777!important;
}
.custom-navbar-text
{
  /*padding-right: 30px;*/
}
.custom-navbar-text:hover
{
  /*border-top: 4px solid red;*/
  /*box-shadow: inset 0 4px 0 0 #ff2a13;*/
}
.custom-navbar-text .navbar-text:hover
{
  /*color: #FFFFFF!important;*/
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.5s;
}
.custom-navbar-text .navbar-text
{
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-family: "Raleway","Helvetica Neue",Helvetica,sans-serif;
  border: 2px solid transparent;
}
.main-section-1
{
  width: 100%;
  height: auto;
  /*background-image: url(../img/section-1.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  margin: 0px 0px 0px 0px;
  padding: 200px 0px 200px 0px;
  background-color: transparent;
  text-align: center;
  background: rgba(2,2,2, 0.5);
}
.main-section-1 h1
{
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-weight: 900;
  font-size: 64px;
  margin-top: 45px;
}
/* scroll replacement */
.replaced-navbar
{
  background-color: #FFFFFF!important;
  transition: all 1s;
}
.replace-text-bar
{
  color: #494D4D!important;
  transition: all 1s;
}

/* end scroll replacement */
.custom-collapse-button
{
  background-color: #FDFDFD!important;
}
.main-section-2
{
  width: 100%;
  height: auto;
  background-color: #0EA5A0;
  /*padding: 80px;*/
}
.main-section-2 img
{
  max-width: 700px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-2-text-p
{
  color: #caf9f8;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 25px;
}
.custom-button-try-adhero
{
  margin-top: 90px;
  background-color: #0EA5A0;
  border: none;
  border-radius: 2px;
  color: white;
  box-shadow: 0px 0px 8px black;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}
.section-2-text-p p
{
  line-height: 1.5em;
  margin-top: 30px;
}
.section-2-text-p h4
{
  font-weight: 400;
  color: #ffffff;
  line-height: 1.6em;
  font-size: 15px;
  margin-top: 30px;
}
.main-section-3
{
  background-image: url(../img/bg-integrity.png);
}
.main-section-3, .main-section-4, .main-section-5, .main-section-6, .main-section-7, .main-section-8, .main-section-9, .main-questions
{
 /* width: 100%;
  text-align: center;*/
}
.main-section-5
{
  padding: 100px;
}
.custom-how-it-works-title
{
  margin-top: -100px;
}
.main-section-8
{
  padding: 50px;
  margin-top: 50px;
  border-top: 1px solid #939393;
  width: 80%!important;
  margin-left: 10%;
}
.main-section-9
{
  border-top: 1px solid #D4D4D4;
}
.main-section-4
{
  background-image: url(../img/section-4-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section-3-text-p, .main-section-4-text-p, .main-section-5-text-p, .main-section-6-text-p, .main-section-7-text-p, .main-section-8-text-p
{
  margin-top: 50px;
  color: #000000;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 25px;
}
.main-section-7-text-p
{
  color: white!important;
}
.main-section-8-text-p
{
  padding: 10px;
  width: 200px;
  background-color: white;
  margin-top: -67px;
  margin-left: 40%;
  font-size: 13px;
  margin-bottom: 50px;
  color: #939393;
}
.main-section-7
{
  background-color: #262626;
  /*margin-top: -20px;*/
}
.main-section-3-text-h6, .main-section-4-text-h6
{
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 20px;
  padding: 50px;
  padding-top: 10px;
}
.main-section-3 img, .main-section-4 img
{
  height: auto;
  max-width: 100%;
}
.custom-center-how-it-works
{
  text-align: center;
  margin-bottom: 20px;
}
.custom-center-how-it-works p
{
  color: #616161;
}
.slide-1
{
  font-weight: 700;
  color: #848484;
  margin-bottom: 20px;
}
.slide-2
{
  color: #848484;
  margin-bottom: 20px;
}
.slide-3
{
  font-style: italic;
  color: #848484;
  margin-bottom: 20px;
}
.img-flexibox-cont
{
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: 43%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bottom-button
{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #0EA5A0;
  border: none;
  border-radius: 2px;
  color: white;
  box-shadow: 0px 0px 8px black;
  padding: 0.714em 1.286em 0.857em;
  font-size: 21px;
}
.bottom-button:hover
{
  margin-bottom: 20px;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.65);
  box-shadow: none;
  text-decoration: none;
  color: white;
}
.bottom-banks-partners
{
  height: auto;
  width: 65%;
}
.section-9-custom
{
  list-style: none;
  margin: 10px 0;
  line-height: 1.3;
  padding: 20px;
  margin: 10px 0;
  margin-left: 30%;
}
.section-9-custom li
{
  float: left;
  display: block;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 10px;
}
.section-9-custom li a
{
  color: red;
  line-height: 1.3;
  font-size: 10px;
}
.section-9-custom li a:hover
{
  color: #C61300;
  transition: all 1s;
  text-decoration: none;
}
.footer
{
  margin: 30px 10px 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.3;
  font-size: 10px;
  color: #9B9B9B;
}
.custom-facebook-icon
{
  padding: 5px;
  font-size: 15px;
  background-color: red;
  color: white;
  border-radius: 2px;
  line-height: 1;
}

.custom-facebook-icon:hover
{
  background-color: #C61300;
  transition: all 1s;
}
.bottom-top-call
{
  color: #777777;
  padding: 1px;
  border-radius: 50%;
  font-size: 40px!important;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  transform: scale(1);
  transition: all 1s;
}
.bottom-top-call-animate
{
  bottom: 10px;
  transform: scale(1);
  transition: all 1s;
}
.bottom-content
{
  display: none;
  margin: 0;
}
.bottom-content:hover
{
  cursor: pointer;
}

/* pricing */
.pricing-bg
{
  width: 100%;
  height: 700px;
  background-image: url(../img/price.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  padding: 200px 0px 200px 0px;
  background-color: transparent;
  text-align: center;
}
.text-pricing
{
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-bottom: -10px;
  margin-top: -85px!important;
}
.bold-text-price
{
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-weight: 600!important;
  font-size: 85px!important;
  line-height: 1.2;
  margin-top: 20px!important;
}
.bottom-text-price
{
  color: #ffffff;
  font-weight: 700;
}
.main-section-pricing
{
  width: 100%;
  text-align: center;
}
.header-price
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
  background-color: #7C5B9C;
}
.content-price
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #19A49F;
  padding: 30px;
  border-bottom: 1px solid white;
}
.content-price p
{
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 100px;
}
.footer-price
{
  background-color: #19A49F;
  width: 90%;
  margin-left: 5%;
  padding: 25px;
  margin-right: 5%;
}
.footer-price span
{
  color: #caf9f8;
}
.main-section-pricing span
{
  color: #555D5D;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 15px;
  line-height: 2.0;
}
.exclusive-text
{
  color: #000;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 25px;
  padding: 20px;
  margin-top: 10px;
}
.exclusive-list
{
  text-align: left;
  margin: 0 35%;
  color: #555d5d;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 12px;
}
.risk-free-container
{
  width: 100%;
  height: 400px;
  background-image: url(../img/pricing-hand.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.risk-free-container p
{
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 34px;
  margin-top: 160px;
}
.risk-free-container button
{
  margin-top: 10px;
  padding: 0.714em 1.286em 0.857em;
  font-size: 21px;
  border-radius: 0.225em;
  color: #fff;
  border-color: #0ea5a0;
  background-color: #0ea5a0;
  margin-bottom: 0.25em;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
  box-shadow: 0 0.25em 0 0 #1a9c97,0 4px 9px rgba(0,0,0,0.75);
  border: none;
}
.questions-container
{
  margin: 0px 0px 0px 0px;
  padding: 40px 0px 15px 0px;
  background-color: #cbf9f8;
}
.questions-container p
{
  color: #555D5D;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 26px;
}
.login-container
{
  width: 100%;
  background-image: url(../img/bigstock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  padding: 45px 0px 45px 0px;
  height: 100vh;
}
.login-box
{
  height: auto;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
}
.login-box .userpro-head
{
  border-radius: 5px 5px 0 0;
  background: #f5f5f5 url(../img/pattern.png) repeat;
  border-bottom: 1px solid #eee;
}
.login-box .userpro-left
{
  font-size: 14px;
  padding: 10px;
}
.login-title
{
  width: 100%;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background: #f5f5f5 url(../img/pattern.png) repeat;
  border-bottom: 1px solid #eee;
  padding: 15px;
  position: relative;
}
.login-input
{
  margin-top: 20px;
  margin-left: 20px;
}
.login-input-box label
{
  color: #444;
  font-weight: normal;
  margin-right: 10px;
}
.login-input-box
{
  margin-bottom: 15px;
}
.login-input-box label span
{
  color: red;
}
.login-input-box input
{
  border-radius: 3px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: inset 0 -1px 4px #eee;
  color: #aaa;
  width: 60%;
  float: right;
  margin-right: 10px;
}
.submit-box
{
  width: 95%;
  padding: 15px;
  border-top: 1px solid #e5e5e5;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 10px;
}
.icon-container
{
  margin-left: -37px;
  padding: 10px;
  background-color: #F5F5F5;
  border-radius: 50%;
}
.icon-container:hover
{
  background-color: #444444;
  transition: all 1s;
}
.icon-container:hover i
{
  color: #F5F5F5!important;
  transition: all 1s;
}
.icon-container i
{
  color: #9C9999;
}
#register
{
  display: none;
}
.custom-select
{
  border-radius: 3px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: inset 0 -1px 4px #eee;
  color: #aaa;
  width: 60%;
  float: right;
  margin-right: 10px;
}
.userpro-loading
{
  position: relative;
  top: 7px;
  left: 10px;
  display: none;
  box-shadow: none;
  vertical-align: top;
}

/* creative page */
.creative-container, .creative-money-container, .creative-dashboard-container
{
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  padding: 55px 0px 55px 0px;
  text-align: center;
  padding: 8% 8% 8% 8%;
}
.creative-showcase-container
{
  width: 100%;
  height: auto;
  text-align: center;
}
.creative-no-reg-container
{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #0EA5A0;
  margin: 0px 0px 0px 0px;
  padding: 50px 0px 50px 0px;
}
.creative-container
{
  background-image: url(../img/header.jpg);
}
.creative-money-container
{
  background-image: url(../img/creative-money.jpg);
  margin: 0px 0px 0px 0px;
  padding: 40px 0px 40px 0px;
  background-color: #0ea5a0;
  height: 430px;
  background-position-y: -200px;
}
.creative-dashboard-container
{
  background-image: url(../img/dashboard.jpg);
  height: 700px;
}
.creative-text
{
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-weight: 900;
  font-size: 64px;
  padding: 100px;
}
.custom-button-creative
{
  color: #fff;
  border-color: #1a9c97;
  background-color: #1a9c97;
  margin-bottom: 0.25em;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
  box-shadow: 0 0.25em 0 0 #1a9c97,0 4px 9px rgba(0,0,0,0.75);
  padding: 13px;
  margin-top: -15px;
}
.custom-button-creative:hover
{
  color: white;
  background-color: #0EA5A0;
}
.creative-money-container-cash
{
  width: 100%;
  text-align: right;
  padding: 50px;
}
.creative-money-container-cash-text-first
{
  color: #0EA5A0;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 25px;
  margin-right: 30px;
}
.creative-money-container-cash-text-second
{
  font-weight: 400;
  color: #000;
  float: right;
  width: 355px;
  text-align: center;
  font-size: 15px;
  line-height: 2;
}
.creative-showcase-container-text-first
{
  color: #000000;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 25px;
  margin: 100px 0 30px 0;
}
.creative-showcase-container-text-second
{
  color: #000000;
}
.creative-no-reg-container-text-first
{
  color: #fff;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 25px;
}
.creative-no-reg-container-text-second
{
  font-weight: 400;
  color: #fff;
  padding: 40px;
  width: 90%;
  margin-left: 5%;
  line-height: 25px;
}
.creative-dashboard-container-text-first
{
  color: #000000;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 25px;
}
.creative-dashboard-container-text-second
{
  font-weight: 400;
  color: #000000;
  padding: 40px;
  width: 90%;
  margin-left: 5%;
  line-height: 25px;
}
.fb-image-creative
{
  background-color: transparent!important; 
  border: none!important;
  margin-left: 10%; 
}
.adversting-text
{
  padding: 10px;
  color: #616161;
  font-weight: 500;
}
.learn-more
{
  padding: 10px;
  color: #808080;
  font-weight: 700;
  border-bottom: 1px dotted black;
}
.question-container
{
  padding: 25px;
}
.question-text
{
  padding: 20px;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Raleway';
  color: #777;
}
.btn-custom-question
{
  color: #fff;
  border-color: #1a9c97;
  background-color: #1a9c97;
  margin-bottom: 0.25em;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
  box-shadow: 0px 1px 4px black;
  border-radius: 2px;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 11px;
  padding: 10px 20px 10px 20px;
}
.main-questions
{
  background-color: #adede8;
  /*margin-top: -10px;*/
}
.main-footer-section-1
{
  width: 100%;
  background-color: #4E4D4D;
}
.custom-col-lg-6-footer-section
{
  padding: 40px;
}
.main-footer-title-text
{
  width: 90%;
  border-bottom: 2px solid #716C6C;
  margin-left: 50px;
  height: 80px;
}
.main-footer-text p
{
  font-family: 'Raleway';
  color: #d4f4f2;
  font-weight: 700;
  font-size: 20px;
}
.main-footer-title-p
{
  width: 90%;
  margin-top: 20px;
  margin-left: 40px;
}
.main-footer-title-p p
{
  color: #bcbcbc;
}
.main-footer-title-p a
{
  color: #d4f4f2;
  font-weight: bold;
  font-size: 10px;
}
.main-footer-title-text p
{
  font-size: 20px;
  color: #d4f4f2;
  font-family: 'Raleway';
  font-weight: bold;
}
.secondary-footer-section
{
  padding: 30px;
  background-color: #3E3C3C;
}
.secondary-footer-section .col-lg-2 p
{
  color: #716F6F;
  font-weight: bold;
}
.secondary-footer-section .custom-div
{
  /*margin-left: 50px;*/
}
.secondary-footer-ul
{
  list-style: none;
  margin-left: -45px;
}
.secondary-footer-ul li
{
  padding: 5px;
}
.secondary-footer-ul li a
{
  color: #ADABAB;
  font-weight: 400;
}
.secondary-footer-info
{
  list-style: none;
  text-align: right;
}
.custom-btn-secondary-footer
{
  margin-bottom: 20px;
  background-color: #0EA5A0;
  border: none;
  border-radius: 4px;
  color: white;
  box-shadow: 0px 0px 3px black;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 15px 15px 15px;
}
.testi-container
{
  height: auto;
  text-align: center;
  font-family: 'Raleway';
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}
.testi-text-1
{
  margin-top: 20%;
  padding: 10px;
}
.testi-text-1 p
{
  font-size: 25px;
  color: white;
}
.testi-text-2
{
  padding: 20px;
}
.testi-text-2 p
{
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.testi-text-3
{
  padding: 20px;
  margin-bottom: 150px;
}
.testi-text-3 p
{
  font-size: 15px;
  color: white;
}
/* Sample Ads Page */
.sample-ads-bg
{
  width: 100%;
  height: 700px;
  background: rgba( 0,0,0,0.9 );
  background-image: url(../img/samplepage_background.jpg)!important;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  margin: 0px 0px 0px 0px;
  padding: 200px 0px 200px 0px;
  background-color: transparent;
  text-align: center;
}
.sample-ads-bg .bold-text-price {
    position: relative;
    z-index: 2;
    margin-top: 100px !important;
    font-size: 62px !important;  
}
.bg-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.4);
    z-index: 1
}
.heading-text-content {
  border-bottom: 1px solid #eee;
}
.heading-text-content p {
  color: #8a8e91;
  font-size: 17px;
}
.sample-ads-contents > div .sample-ads-wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #efefef;
    box-shadow: 6px 6px 5px #e7e7e7;
    margin-bottom: 10px;
    margin-top: 25px;
    overflow: hidden;
    padding: 15px;
}
.sample-ads-wrapper {

}
.sample-ads-wrapper .ads-title {
  color: #3e60af;
}
.advertiser-content > div {
    float: left;
    display: inline-block;
}
.ads-desc p {
  margin: 0;
}
.advertiser-name a {
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
}
.advertiser-info {
    font-size: 9px;
    color: #777;
}
.img-responsive {
  width: 100%;
}
.custom-arrow-down
{
  font-size: 25px!important;
  color: #fff;
  line-height: 60px;
}
.floating-custom
{
  position: absolute;
  /*bottom: 10px;*/
  /*width: 100%;*/
  /*text-align: center;*/
}
.arrow-container
{
  width: 100%;
  text-align: center;
}
.custom-btn-secondary-footer:hover, .btn-custom-question:hover
{
  color: white
}
/* responsive */
@media only screen and (max-width : 777px) {
  .navbar
  {
    background-color: white;
  }
  .navbar-text
  {
    color: #777!important;
  }
  .custom-navbar-brand
  {
    /*background-image: url(../img/adhero-mainlogo-replace.png)!important;*/
  }
}
.main-section-1 h4
{
  color: #FFFFFF;
  font-size: 20px;
  width: 45%;
  margin: 40px auto;
  font-weight: bold;
  line-height: 30px;
}
.how-it-works-container
{
  background-color: #FFFFFF;
}
.how-it-works-container p
{
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
}
.how-it-works-img-container
{
  padding: 50px;
  background-color: white;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.how-it-works-steps
{
  padding: 20px;
  font-weight: bold;
  height: 100px;
  color: white;
}
.how-it-works-container-box .row
{
  margin: 0 auto;
  margin-bottom: 80px;
}
.box-1-steps
{
  padding: 0!important;
  background: #94C5F0;
  border: 1px solid black;
}
.box-2-steps
{
  padding: 0!important;
  background: #4196B5;
  border: 1px solid black;
}
.box-3-steps
{
  padding: 0!important;
  background: #29A89F;
  border: 1px solid black;
}
.box-4-steps
{
  padding: 0!important;
  background: #2D88C1;
  border: 1px solid black;
}
.fix-box-steps
{
  height: 250px;
}
.active-how-it-works
{
  color: black!important;
}
.what-our-customer-are-saying
{
  background-color: #4CA19C;
  border-top: 5px solid black;
}
.what-our-customer-are-saying-container p
{
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
}
.customer-description-box
{
  height: 150px;
  width: 400px;
  background-color: #AACDEB;
  border: 1px solid black;
  margin-bottom: 30px;
}
.customer-description-box p
{
  padding: 50px;
  font-size: 20px;
}
.see-customer-more
{
  font-size: 20px;
  margin-left: 15px;
  color: black;
  transition: all 1s;
}
.see-customer-more:hover
{
  color: white;
  text-decoration: none;
  transition: all 1s;
}
.custom-user
{
  font-size: 200px;
}
.brands-worked
{
  background-color: white;
}
.brands-worked-container
{
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
}
.brand-img
{
  height: 150px; 
  width: 100%; 
  display: block;
  border-radius: 50%;
}

/* new style */
.bxslider ul li 
{
  position: absolute!important;
}

.custom-navbar-default
{
  position: fixed!important;
  width: 100%!important;
  background: rgba( 33,44,59,0.5 )!important;
  border-radius: 0;
  z-index: 100;
  transition: all 0.5s ease!important;
  height: auto;
}
.custom-navbar-default-transform
{
  height: 40px!important;
  transition: all 0.5s ease!important;
}
.custom-navbar-default .navbar-toggle 
{
  border: 2px outset buttonface;
  background-color: #FFF;
}

.custom-navbar-default .navbar-toggle .icon-bar 
{
  background-color: #AAA;
}
.row-container
{
  width: auto;
  height: auto;
}
.video-playing-container
{
  width: 100%;
  height: auto;
  /*background-image: url(../img/header.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.navbar-nav > li > a {
    padding: 0 15px 0 15px;
}


@media only screen and (min-width : 780px) {
  .menus-li
  {
    /*margin-top: 10px;*/
    margin: 0 0 0 50px;
  }

  .custom-navbar-right
  {
    margin-top: -20px;
    margin-right: 35px!important;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .content_4 {
      background-size: 128% 125% !important;  
  }

  .about-container-wrapper
  {
    padding-top: 0px;
    margin-top: 70px;
  }

  .about-container-panel
  {
    margin-top: 50px;
  }
}

 .about-container-wrapper
  {
    padding-top: 70px;
    margin-top: 0px;
  }



.bx-wrapper .bx-pager.bx-default-pager a
{
  background: transparent!important;
}
.menus-li a
{
  color: white;
  font-size: 16px;
  line-height: 60px!important;
  font-family: 'Montserrat-Light';
  transition: 1s ease;
  transition: all 0.5s ease;
}
.menus-li-a-transform
{
  font-size: 20px!important;
}
.menus-li a:hover
{
  color: #15BE9F!important;
  transition: 1.5s ease;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent!important;
  color: white;
}

.custom-dropdown-menu
{
  background: #1C1C1C!important;
  /*margin-top: 30px!important;*/
}
.custom-dropdown-menu li.large-padding
{
  padding: 10px;
}
.custom-dropdown-menu > li:hover
{
  background-color: #272727!important;
}
.custom-dropdown-menu > li > a
{
  color: white!important;
  font-size: 12px;
}
.custom-dropdown-menu > li > a:hover
{
  background-color: transparent!important;
  color: #29A69F!important;
}
.custom-divider
{
  background-color: #3A3838!important;
  margin: 0!important;
}
.solutions-dropdown
{
  transition: all 1.5s ease;
}
.li-solutions:hover .solutions-dropdown, .li-platform:hover .platform-dropdown, .li-about:hover .about-dropdown
{
  display: block;
}
i.icon-plus-button {
    color: #fff;
}
.content_1
{
  width: 100%;
  height: 90vh;
  /*background: rgba( 33,44,59,0.7 );*/
}
.replace-navbar
{
  background-color: white!important;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 1px #A7A6A6;
}
.replace-dropdown-toggle-li-a
{
  color: gray!important;
}
.content_2
{
  width: 100%;
  height: auto;
  background-color: #ECF0F1;
}
.content_2 div h3
{
  font-size: 24px;
  color: #95a5a6;
  font-family: OpenSansLight;
  margin-top: 50px;
  margin-bottom: 10px;
}
.img-container img
{
  width: 80%;
}
.bg-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}
.content_3
{
    width: 100%;
    /*height: 90vh;*/
    background-image: url(../img/pbit-assets-v2/usingphone.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    padding-top: 64px;
}
.content_3 > div {
    position: relative;
    z-index: 1;
}
.content_3 > div p {
    font-size: 18px;
    color: #fff;
}
.attr-content span {
    color: #333;
    font-size: 16px;
}
.attr-contents .content-attr-lists > * {
    display: inline-block;
    float: left;
}
.content-attr-lists {
    text-align: center;
    margin: auto;
    float: none;
    margin-top: 30px;
    width: 725px;    
}
.attr-content {
    z-index: 10;
    position: absolute;
}

.attr-content.left {
    left: 60px;
}
.attr-content.right {
    right: -10px;
}
.attr-content.left.attr-object {
    top: -8px;
}
.attr-content.left.attr-gender {
    top: 45px;
}
.attr-content.left.attr-activities {
    top: 99px;
}
.attr-content.left.attr-age {
    top: 150px;
}
.attr-content.left.attr-focus {
    top: 202px;
}
.attr-content.left.attr-clothing {
    top: 255px;
}
.attr-content.right.attr-emotions {
    top: -8px;
}
.attr-content.right.attr-colors {
    top: 45px;
}
.attr-content.right.attr-scenarios {
    top: 98px;
}
.attr-content.right.attr-themes {
    top: 152px;
}
.attr-content.right.attr-concepts {
    top: 203px;
}
.attr-content.right.attr-aesthetics {
    top: 255px;
}
/*.attr-content {
    text-align: left;
    padding: 4px 15px;
    background: #A6A6A6;
    margin-bottom: 22px;
}*/
.img-center {
    top: -30px;
    display: inline-block;
    position: relative;
    margin: 0 20px;
}
.contact_form_wrapper {
    padding: 30px 0;
}
.form-inputflds input {
    min-height: 50px;
}
.form-inputflds textarea {
    min-height: 75px;
}
.form-inputflds .submit {
    min-height: 75px;
}
.form-inputflds input,
.form-inputflds textarea,
.form-inputflds .submit
{
    border: 2px solid #18CAA0;
    border-radius: 0;
    background: #D8D8D8;
}
.content_images_sample {
    position: relative;
    z-index: 10;
    padding-bottom: 24px;
    background: #D8D8D8;
}
.content_images_sample > .container {
    position: relative;
    top: -160px;
}
.text-wrapper {
    color: #000;
    position: absolute;
    padding: 15px 48px 15px 34px;
    text-align: center;
}
.text-wrapper .num {
    color: #828787;
}
.content_4
{
    background-image: url(../img/pbit-assets-v2/slide_3_background.jpg);
    /* width: 100%; */
    height: auto;
    background-color: #ECF0F1;
    padding: 40px;
    background-size: cover;
    /*display: flex;*/
    align-items: flex-start;
}
.content_5
{
  width: 100%;
  background-image: url(../img/pbit-assets-v2/samplepage_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
    padding-bottom: 200px;
}
.content_6
{
  width: 100%;
  height: auto;
  background-color: white;
  /*background-image: url(../img/content_6_bg.png);*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*padding: 40px 0;*/
}
.content_6-text-container {
    background-image: url(../img/pbit-assets-v2/orange.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;   
    padding: 50px;
}
.content_6 h2
{    
  font-size: 38px;
  line-height: 45px;
  color: #323031;
}
.content_6 h3
{    
  font-size: 24px;
  color: #95a5a6;
}
.iwithtext .iwt-icon {
    float: left;
}
.iwithtext .iwt-text {
    padding-left: 55px;
}
.iwt-text h4 {
    color: #444;
    font-size: 16px;
    font-family: OpenSansBold; 
    letter-spacing: -0.5px;
    font-weight: normal;
}
.accent-color {
    font-size: 31px;
    color: #29A7A0;
}
.iwithtext {
    margin: 25px 0;
}
.iwt-text p {
    font-family: "Helvetica", Arial, sans-serif;
}
.content_7
{
  width: 100%;
  height: auto;
  background-color: #ECF0F1;
  padding: 40px 0;
}
.content_7 h2
{    
  font-size: 38px;
  line-height: 45px;
  color: #323031;
  font-family: OpenSansLight;
}
.content_7 h3
{    
  font-size: 24px;
  color: #95a5a6;
  font-family: OpenSansLight;
}
.content_7 .col-md-3 .col {
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-color: #fff;
    padding: 25px 15px 15px 15px;
    position: relative;
    -webkit-transition: top 0.2s linear,-webkit-box-shadow 0.2s linear;
    -moz-transition: top 0.2s linear,-moz-box-shadow 0.2s linear;
    -o-transition: top 0.2s linear,-o-box-shadow 0.2s linear;
    transition: top 0.2s linear,box-shadow 0.2s linear;
}
.content_7 .col-md-3 .col {
    padding: 12% 4%;
}
.content_7 .circle-border {
    width: 100px !important;
    height: 100px;
    background-color: rgba(0,0,0,0.021)!important;
    display: inline-block;
    border-radius: 50%;
    border: 1.6px solid rgba(0,0,0,0.05);
    padding: 30px;
}
.content_7 .col-md-3 h5 {
    color: #7f8c8d;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'OpenSansBold';
}
.content_7 .col-md-3 p {
    color: #7f8c8d;
    font-size: 12px;
    font-family: 'OpenSansLight';
}
.content_8
{
  width: 100%;
  height: 60vh;
}
.content_9
{
  width: 100%;
  height: 100vh;
  background-color: #F8F8F8;
}
.content_10
{
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}
.content_11
{
  width: 100%;
  height: 20vh;
  background-color: #29A7A0;
}
.content_1-box
{
  margin-top: 200px;
  padding: 50px;
}
.content_1-box h2
{
  color: #fff;
  font-family: OpenSansLight;
  font-size: 45px;
}
.content_1-box p
{
  color: #fff;
  font-family: OpenSansLight;
  font-size: 22px
}
.content_1-status a.learn-more-btn
{
  padding: 11px 17px;
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.7);
  color: #E2DDDD;
  text-decoration: none;
  margin-left: 40px;
  transition: all 1s ease;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
  border-radius: 5px;
}
.content_1-status a.learn-more-btn:hover
{
  border: 2px solid rgba(255,255,255,1);
  color: white!important;
  transition: all 1s ease;
}
.content_1-status a.contact-us-btn
{
  padding: 12px 17px;
  background-color: #29A7A0;
  border: 2px solid #29A7A0;
  text-decoration: none;
  transition: all 1s ease;
  color: white;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
  border-radius: 2px;
}
.content_1-status a.contact-us-btn:hover
{
  background-color: #1E8C86;
  transition: all 1s ease;
}
.floating-custom
{
  position: absolute;
}
.content_3-text
{
  padding: 100px;
  padding-bottom: 0;
}
.content_3 h2
{
  font-size: 38px;
  line-height: 45px;
  color: #323049;
  font-family: OpenSansLight;
}
.content_3 p
{
  font-size: 24px;
  color: #95a5a6;
  font-family: 'OpenSansLight';
}
.social-platform-gif img
{
  width: auto;
  height: 220px;
  margin: 0 auto;
  margin-bottom: 10px;

}
.content_4-text-container
{
  /*padding: 125px;*/
  /*margin-top: 100px;*/
  color: #fff;
  padding-bottom: 0;
}
.custom-glyphicon-ok
{
  color: #29A7A0;
}
.content_4-list-ok
{
  margin-top: 10px;
}
.content_4-list-ok span.content_4-first-text
{
  font-weight: bold;
}
.content_4-list-ok span.content_4-second-text
{
  color: #fff;
  font-size: 23px;
}
.content_4-status
{
  margin-top: 60px;
}
.content_4-status a.learn-more-btn
{
  padding: 11px 17px;
  background-color: #29A7A0;
  border: 2px solid #29A7A0;
  color: white;
  text-decoration: none;
  transition: all 1s ease;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
}
.content_4-image-container img
{
  padding: 80px;
  margin-top: 20px;
}
.custom-responsive-partners
{
  width: 50%!important;
  margin: 0 auto;
}
.content_10-platform-solutions-container h2
{
  color: #5D5B5B;
  padding: 60px;
  padding-bottom: 0;
}
.fb
{
  background-color: #4967A9;
}
.twit
{
  background-color: #5FA9DD;;
}
.ins
{
  background-color: #005987;;
}
.yt
{
  background-color: #CD332C;;
}
.platform-links
{
  padding: 10px 35px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  box-shadow: 0px 0px 1px black;
  margin: 5px;
}
.content_10-platform-links
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.content_11-text-container
{
  padding: 50px;
  color: white;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.content_8-text-container 
{
  margin-bottom: 90px;
}
.content_8-text-container h2
{
  margin-top: 50px;
  color: white;
}
.content_8-text-container h3
{
  color: white;
  opacity: 0.9;
  line-height: 30px;
  letter-spacing: 2px;
}
.content_8-success-stories
{
  padding: 15px 35px;
  color: white;
  letter-spacing: 2px;
  margin-top: 60px;
  font-size: 15px;
  background-color: #29A8A1;
  text-decoration: none;
}
.content_8-success-stories:hover
{
  color: white;
  text-decoration: none;
}
.content_5-text-container
{
    position: relative;
    z-index: 10;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
button.btn-request {
    padding: 11px;
    background: transparent;
    color: #fff;
    border: 2px solid #18CAA0;
}
.content_5-text-container h2, .content_5-text-container h3
{
  color: white;
}
.content_5-text-container h2
{
  font-size: 38px;
  line-height: 45px;
  font-family: 'OpenSansLight';
}
.content_5-text-container h3
{
  /*letter-spacing: -0.5px;*/
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-family: 'OpenSansLight';
  /*opacity: 0.8;*/
}
.li-contact-us .btn-contact-us-home
{
  padding: 10px;
  background-color: #29A7A0;
  border-radius: 2px;
  margin-top: 2px;
}
.li-contact-us .btn-contact-us-home:hover 
{
  background-color: #0EE0D5!important;
}
/*footer*/
#footer
{
  width: 100%;
  overflow: hidden;
  padding: 44px 0 35px;
  color: #dadfe7;
  font-size: 12px;
  height: 27px;
  clear: both;
  border-top: 1px dashed white;
  background-color: #282828;
}
#footer .social 
{
  float: right;
  margin-right: 100px;
  margin-top: -5px;
}
ul 
{
  list-style: none;
}
#footer li 
{
  float: left;
  padding: 0 12px 0 0;
  font-weight: bold;
  line-height: 18px;
}
#footer li a 
{
  color: #fff;
}
#footer .menu 
{
  float: right;
  margin-right: -30px;
}
#container_main 
{
  min-height: 100%;
}
#footer p 
{
  float: left;
  width: 374px;
  margin-left: 50px;
}
.footer-social
{
  width: auto;
  height: 30px;
}
.about-container
{
  height: 100vh;
  background-image: url(../img/headers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}


.custom-panel-heading-about
{
  background-color: white!important;
  border-bottom: none!important;
  padding: 0!important;
}
.custom-panel-heading-about h3
{
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #9D9D9C;
}
.about-details-container h5
{
  color: #000017;
  font-family: 'Ubuntu';
  font-weight: bold;
}
.about-details-container
{
  font-family: 'Ubuntu';
}
.border-bottom-style
{
  border-bottom: 1px dashed white!important;
  margin-bottom: -11px;
}
.border-bottom-style p
{
  padding: 20px;
  padding-bottom: 5px;
  color: #C1272D;
  font-family: 'Ubuntu';
  font-weight: bold;
  background-color: #CCCCCC!important;
  border-bottom: 1px dashed white!important;
}
.about-details-side-container h5
{
  color: white;
  font-family: 'Ubuntu';
}
.about-details-side-container p
{
  color: #666C8C;
  font-family: 'Ubuntu';
}
.platform-background
{
  background-image: url(../img/samplepage_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.platform-content
{
  width: 100%;
  height: 100vh;
}
.remove-row
{
  margin: 0!important;
}
.a-b-testing-container
{
  width: 100%;
  height: 90vh;
  background-color: #ECF0F1;
}
.a-b-testing-container section p
{
  font-size: 34px;
  line-height: 45px;
  font-family: 'OpenSansLight';
  padding-top: 50px;
}
.a-b-testing-container-p
{
  font-size: 16px!important;
  line-height: 24px!important;
  padding-top: 0!important;
  color: #8C8CA2;
  width: 50%;
  margin: -10px auto;
}
.platfrom-img
{
  width: auto;
  margin: 60px auto;
}
.creative-image-bank
{
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}
.creative-image-bank div img
{
  width: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.creative-image-bank-second-container p:nth-child(1)
{
  font-size: 34px;
  line-height: 45px;
  font-family: 'OpenSansLight';
  padding-top: 50px;
  margin-top: 90px;
  color: #323031;
}
.creative-image-bank-second-container p:nth-child(2)
{
  font-size: 16px!important;
  line-height: 24px!important;
  padding-top: 0!important;
  color: #8C8CA2;
  width: 50%;
}
.targeting-libraries
{
  width: 100%;
  height: auto;
}
.target-row
{
  background-color: #ECF0F1;
}
.targeting-libraries .target-row div:nth-child(1) section
{
  padding: 100px;
}
.targeting-libraries .target-row div section h2
{
  font-family: 'OpenSansLight';
  font-size: 38px;
  line-height: 45px;
  color: #323031;
}
.targeting-libraries .target-row div section p
{
  color: black;
  font-size: 15px;
  line-height: 20px;
}
.targeting-libraries .target-row div:nth-child(2) section img
{
  margin-top: 80px;
  margin-left: -50px;
  margin-bottom: 80px;
}
.actionable-reporting
{
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}
.actionable-reporting section
{
  padding: 100px;
}
.actionable-reporting section h2
{
  font-family: 'OpenSansLight';
  color: #323031;
  font-size: 38px;
  line-height: 45px;
}
.actionable-reporting section p
{
  width: 65%;
  margin: 0 auto;
  font-family: 'OpenSansLight';
}
.actionable-reporting section img
{
  width: auto;
  margin: 20px auto;
  margin-bottom: 20px;
}
.reporting-api
{
  width: 100%;
  height: auto;
}
.reporting-api section
{
  padding: 100px;
}
.reporting-api section h2
{
  color: white;
  font-family: 'OpenSansLight';
  font-size: 38px;
  line-height: 45px;
}
.reporting-api section p
{
  width: 65%;
  margin: 0 auto;
  font-family: 'OpenSansLight';
  color: white;
}
.agency-summary-board
{
  width: 100%;
  height: 80vh;
}
.agency-summary-board div section.agency-summary-board-img
{
  padding: 60px;
  padding-right: 0;
  margin: 50px;
}
.agency-summary-board div section.agency-summary-board-img img
{
  width: auto;
  margin-left: 50px;
}
.agency-summary-board div section:nth-child(2) h2
{
  margin-top: 200px;
  font-family: 'OpenSansLight';
  font-size: 38px;
  line-height: 45px;
  color: #383031;
}
.no-padding
{
  padding: 0!important;
}
.self-serve-support
{
  height: auto;
  background-image: url(../img/self-serve-support-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.self-serve-support-text-container
{
  padding: 50px;
  margin: 20px;
}
.self-serve-support-text-container h2
{
  font-family: 'OpenSansLight';
  color: white;
  font-size: 38px;
  line-height: 45px;
}
.self-serve-support-text-container
{
  font-family: 'OpenSansLight';
  color: white;
  line-height: 20px;
}
.self-serve-support-text-check-container
{
  margin-left: 70px;
  margin-bottom: 70px;
}
.self-serve-support-text-check-container p span
{
  color: white;
  font-size: 15px;
}
.self-serve-fa-check
{
  font-size: 20px!important;
}
.self-serve-support-img-container
{
  margin-top: 100px;
}
.li-login
{
  margin-left: 10px;
}
.btn-login
{
  border: 2px solid white;
  padding: 10px!important;
  border-radius: 2px;
  margin-top: 2px;
}
/*nice scroll*/
.nicescroll-cursors
{
  width: 15px!important;
  background-color: rgb(221, 222, 226)!important;
  border-radius: 0px!important;
}

/*slider*/
.info-container-slider
{
  position: absolute;
  width: 500px;
  height: 350px;
  top: 0;
  right: 0;
  margin-right: 40px;
  margin-top: 50px;
  display: none;
}

@media only screen and (min-width : 780px) {
  .info-container-slider
  {
    display: inline !important;
  }
  .pc-image{
    float: right !important;
    margin-top: 0 !important;
  }

  .login-container {
      background-position-y: -80px;
  }

}

.pc-image{
    float: none !important;
    margin-top: 30px;
  }

.icon-layout_1
{
  margin: 60px;
  position: absolute;
  font-size: 36px;
  transition: 0.5s ease;
  margin-left: 100px;
}
.icon-layout_2
{
  margin: 60px;
  position: absolute;
  font-size: 36px;
  transition: 0.5s ease;
  margin-left: 100px;
    top: 50px;
    z-index: 100;
    right: 30px;
}
.icon-layout_3
{
  margin: 10px;
  position: absolute;
  font-size: 36px;
  transition: 0.5s ease;
  margin-left: 100px;
  z-index: 100;
  margin-top: 210px;
}
.icon-layout_4
{
  margin: 10px;
  position: absolute;
  font-size: 36px;
  transition: 0.5s ease;
  margin-left: 100px;
  z-index: 100;
  top: 30px;
  right: 75px;
}
.attr-content i {
    font-size: 22px;
}
.slider-pallete-4
{
  margin: 10px;
  position: absolute;
  font-size: 36px;
  transition: 0.5s ease;
  margin-left: 150px!important;
  z-index: 100;
  transition: all 0.5s ease;
  margin-top: 410px!important;
  overflow: hidden;
}
.icon-layout_1:hover, .icon-layout_2:hover, .icon-layout-slider-2-plus-1:hover, .icon-layout-slider-2-plus-2:hover, .icon-layout_3:hover, .icon-layout_4:hover
{
  transition: 0.5s ease;
  transform: rotate(133deg);
  color: white;
}
.icon-layout-slider-2-plus-1
{
  position: absolute;
  font-size: 36px;
  transition: 0.5s ease;
  top: 180px;
}
.icon-layout-slider-2-plus-2
{
  position: absolute;
  font-size: 36px;
  transition: 0.5s ease;
  margin-left: 345px;
  top: 50px;
}
.scale-box-layout
{
  transform: scale(1)!important;
  transition: 0.5s ease!important;
}
.face-tracer
{
  width: 80px;
  height: 110px;
  border: 4px solid #EF8201;
  margin-left: 213px;
  margin-top: 65px;
  transition: 1s ease;
  position: absolute;
  transform: scale(0);
}
.waist-tracer {
    width: 130px;
    height: 113px;
    border: 4px solid #0177A7;
    margin-left: 174px;
    margin-top: 211px;
    transition: 1s ease;
    position: absolute;
    transform: scale(0);
}
.surrounding-tracer {
    width: 80px;
    height: 80px;
    border: 4px solid #FB7972;
    margin-left: 360px;
    margin-top: 245px;
    transition: 1s ease;
    position: absolute;
    transform: scale(0);
}

.box1-tracer {
    width: 70px;
    height: 70px;
    border: 4px solid #EA827A;
    margin-left: 0;
    margin-top: 65px;
    transition: 1s ease;
    position: absolute;
    transform: scale(0);
}

.box2-tracer {
    width: 130px;
    height: 130px;
    border: 4px solid #2E78A4;
    margin-left: 50px;
    margin-top: 277px;
    transition: 1s ease;
    position: absolute;
    transform: scale(0);
}

.face-tracer-one
{
  width: 85px;
  height: 105px;
  border: 3px solid #EF8201;
  margin-left: 35px;
  margin-top: 28px;
  transition: 1s ease;
  position: absolute;
  transform: scale(0);
}
.face-tracer-four
{
    width: 88px;
    height: 88px;
    border: 3px solid #FB7972;
    margin-left: 248px;
    margin-top: 302px;
    transition: 1s ease;
    position: absolute;
    transform: scale(0);
}
.face-tracer-two
{
  width: 85px;
  height: 105px;
  border: 3px solid #0177A7;
  margin-left: 130px;
  margin-top: 24px;
  transition: 1s ease;
  position: absolute;
  transform: scale(0);
}
.slide-two-content-one
{
  transform: scale(0);
  margin-left: -115px;
  margin-top: 80px!important;
}
.slide-two-content-two
{
  transform: scale(0);
  margin-left: -115px;
  margin-top: 80px!important;
}
.slide-two-content-three
{
  transform: scale(0);
  margin-left: 230px;
  margin-top: 80px!important;
}
.slide-two-content-four 
{
    width: 150px !important;
    transform: scale(0);
    margin-left: 40px;
    margin-top: 293px!important;
}

.info-first-container
{
  width: 140px;
  height: auto;
  background: rgba(255,255,255,0.5);
  transition: 0.5s ease;
  position: absolute;
  margin-top: 140px;
  transform: scale(0);
}
.info-first-container.info-box1-container {
    top: -75px;
    left: 133px;
    width: 150px;
    transform: scale(0);
}
.info-first-container.info-box2-container {
top: 155px;
    right: 135px;
    transform: scale(0);
}
.info-first-container table > tbody > tr > td {
    padding: 0 7px;
}
.info-waist-container {
    width: 140px;
    height: auto;
    background: rgba(255,255,255,0.5);
    transition: 0.5s ease;
    position: absolute;
    margin-top: 280px;
    transform: scale(0);
}
.info-waist-container table > tbody > tr > td {
    padding: 0 7px;
}
.info-surrounding-container {
    width: 150px;
    height: auto;
    background: rgba(255,255,255,0.5);
    transition: 0.5s ease;
    position: absolute;
    margin-top: 336px;
    transform: scale(0);
    margin-left: 222px;
}
.info-surrounding-container table > tbody > tr > td {
    padding: 0 7px;
}
.info-first-container tr td {
    color: #333;
}
.info-first-container table,
.info-waist-container table,
.info-surrounding-container table
{
    margin-bottom: 0;
}
.info-first-container table > tbody > tr > td,
.info-waist-container table > tbody > tr > td,
.info-surrounding-container table > tbody > tr > td
{
  border-top: none!important;
  font-weight: bold;
}
.slider-2-ctr
{
  display: none;
}
.slider-3-ctr
{
  /*display: block!important;*/
  margin-left: 78%!important;
}
.content_info_1
{
  width: 55%;
  height: auto;
  position: absolute;
  top: 0;
  margin-top: 175px;
  padding: 20px;
}

@media only screen and (max-width : 768px) {
  .content_info_1
  {
    width: 100% !important;  
    margin-top: 50px !important;
  }

  .bxslider img
  {
    height: 60vh !important;
  }

  .bx-wrapper .bx-pager {
     padding-top: 0px !important; 
    margin-top: -25px !important;
  }


}
    

p.slide-text {
    font-size: 18px !important;
    line-height: inherit !important;
    margin-top: 34px !important;
}
.content_info_1 p 
{
  font-size: 31px;
  font-family: 'Montserrat-Regular';
  line-height: 40px;
  color: white;
  margin-bottom: 25px;
}

.img-spider{
  width: 60%;
}

@media only screen and (max-width: 480px){
  .content_info_1 p {
      font-size: 25px !important;
      margin-bottom: 4px !important;
  } 

  button.btn-request {
      padding: 8px !important;
  }

  p.slide-text {
      font-size: 14px !important;
      margin-top: 15px !important;
  }

  .img-spider{
    width: 100% !important;
  }
}

.slider-button-get-start
{
  padding: 15px;
  background: rgb(41,167,160);
  margin: 10px;
  color: #353333;
  font-size: 16px;
  font-family: 'Montserrat-Light';
  box-shadow: 0px 0px 5px gray;
}
.slider-ctr 
{
  width: 30%;
  position: relative;
  display: none;
    top: 440px;
    left: -60px;
}
.slider-ctr p
{
  font-size: 30px;
  font-family: 'Montserrat-Light';
}
.slider-long-bar
{
    background: #ACACAC;
    margin: 0 auto;
    width: 330px;
    height: 7px;
    position: relative;
    left: 130px;
    top: -47px;
}
.circle-indicator
{
  width: 20px;
  height: 20px;
  background: #29A7A0;
  margin: 0 auto;
  border-radius: 100%;
    position: relative;
    top: -62px;
    left: 110px;
}
.circle-indicator p
{
  font-size: 15px!important;
  font-family: 'Montserrat-Bold';
  margin-left: 30px;
}
.slider-color-pallete-container
{
    /* display: none; */
    margin-top: 65px;
    /* right: 0; */
    width: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    /* position: absolute; */
    float: right;
    position: relative;
    right: -60px;
}
.activate-slider-color-pallete-container
{
/*  display: block;*/
  transition: all 0.5s ease;
    width: 25%;
}
.slider-color-pallete-container p
{
  color: white;
  font-family: 'Montserrat-Regular';
  overflow: hidden;
  width: 0
}
.active-slide-p
{
  transition: all 1s ease;
  width: 100%!important;
  font-size: 16px;
}

.color-container-slider
{
    width: 60px;
    height: 300px;
    border: 3px solid #323032;
    overflow: hidden;
}

.color-container-slider > div {
    display: block;
}
.color_1 {
    width: 100%;
    height: 69%;
    background: #C6C3B0;
    float: left;
}
.color_2 {
    height: 22%;
    width: 100%;
    background: #AABBAA;
    float: left;
}
.color_3
{
  height: 5%;
  width: 100%;
  background: #462E2F;
  float: left;
}
.color_4
{
  height: 2%;
  width: 100%;
  background: #6F615D;
  float: left;
}
.color_5
{
  height: 2%;
  width: 100%;
  background: #414054;
  float: left;
}
.tags-box
{
  margin-top: 450px;
  transition: all 1s ease;
  /*overflow: hidden;*/
  transform: scale(0);
}
.tags-box-1
{
  padding: 5px;
  background: white;
  width: 20%;
  text-align: center;
  font-family: 'Montserrat-Regular';
  float: left;
  margin-left: 10px;
}
.tags-slider-box-container
{
  margin-top: 100px;
  position: absolute;
  transform: scale(0);
  transition: all 0.5s ease;
}
.tags-box-slider-1
{
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background: white;
  font-family: 'Montserrat-Regular';
  box-shadow: 0px -5px 0px #94CEA6 inset;
  border-radius: 2px;
  float: left;
}
.tags-box-slider-2
{
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background: white;
  font-family: 'Montserrat-Regular';
  border-radius: 2px;
  float: left;
  margin-left: 10px;
}
.custom-ok-slider-1
{
  position: absolute;
  left: 9px;
  top: 15px;
  background: #54A752;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  color: white;
}
.custom-ok-slider-2
{
  position: absolute;
  left: -15px;
  top: 50px;
  background: #54A752;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  color: white;
}
.custom-ok-slider-3
{
  position: absolute;
  top: 50px;
  background: #54A752;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  color: white;
  margin-left: -30px;
}
.custom-ok-slider-4
{
  position: absolute;
  top: 84px;
  background: #54A752;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  color: white;
  margin-left: -30px;
}
.custom-ok-slider-5
{
  position: absolute;
  top: 84px;
  background: #54A752;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  color: white;
  margin-left: -30px;
}
.slider-pallete-3
{
  display: block!important;
  margin-top: 150px!important;
  width: 70%!important;
}
.slider-button-get-start:hover
{
  color: white!important;
  text-decoration: none!important;
}

.btn-disable {
  background: #F7F5F5 !important;
  color: #B1B1B1 !important;
}
.text-wrapper p 
{
  font-size:18px;
  margin-top:35px;
}
.back-to-top
{
  width: 100%;
  background: #28a6a0;
  padding: 20px 0;
}
.back-to-top span
{
  font-weight: bold;
}
.back-to-top:active, .back-to-top:focus
{
  background: #168E88;
  color: white;
}
/* responsive */
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .content_1
  {
    height: 570px;
  }
  .custom-navbar-brand
  {
    color: white;
    font-family: 'Montserrat-Regular';
    margin: 0!important;
    font-size: 20px;
  }
   #footer p
  {
    float: left;
    width: 374px;
    margin-left: 10px;
    margin-top: -20px;
  }
  #footer .social
  {
    float: right;
    margin-right: -10px;
    margin-top: -32px;
  }
  #footer .menu
  {
    float: right;
    margin-right: -5px;
    margin-top: 5px;
  }
  .bottom-top-call-animate
  {
    bottom: 0px;
  }
  .bottom-top-call
  {
    bottom: 50px;
  }
  .content_images_sample
  {
    padding-bottom: 0px;
  }
  .text-wrapper p
  {
    font-size: 15px;
    margin-top: 20px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .content_1
  {
    height: 600px;
  }
  .content_1-box
  {
    margin-top: 0;
    padding: 50px;
  }
  .floating-direction
  {
    margin-top: 59px;
  }
  .content_4-text-container
  {
    margin-top: 0;
  }
  .custom-navbar-brand
  {
    color: white;
    font-family: 'Montserrat-Regular';
    margin: 0!important;
    font-size: 20px;
  }
   #footer p
  {
    float: left;
    width: 374px;
    margin-left: 10px;
    margin-top: -20px;
  }
  #footer .social
  {
    float: right;
    margin-right: -10px;
    margin-top: -32px;
  }
  #footer .menu
  {
    float: right;
    margin-right: -5px;
    margin-top: 5px;
  }
  .bottom-content
  {
    display: none;
  }
  .bottom-top-call-animate
  {
    bottom: 0px;
  }
  .bottom-top-call
  {
    bottom: 50px;
  }
  .content_images_sample
  {
    padding-bottom: 0px;
  }
  .text-wrapper p
  {
    font-size: 15px;
    margin-top: 20px;
  }
}
@media only screen and (max-width : 720px) {
  .content_1-box
  {
    margin-top: 0;
    padding: 50px;
  }
  .floating-direction
  {
    margin-top: 59px;
  }
  .content_4-text-container
  {
    margin-top: 0;
  }
  .custom-responsive-partners
  {
    width: 100%;
    margin: 0 auto;
  }
  .custom-navbar-brand
  {
    color: white;
    font-family: 'Montserrat-Regular';
    margin: 0!important;
    font-size: 20px;
  }
   #footer p
  {
    float: left;
    width: 374px;
    margin-left: 10px;
    margin-top: -20px;
  }
  #footer .social
  {
    float: right;
    margin-right: -10px;
    margin-top: -32px;
  }
  #footer .menu
  {
    float: right;
    margin-right: -5px;
    margin-top: 5px;
  }
  .bottom-top-call-animate
  {
    bottom: 0px;
  }
  .bottom-top-call
  {
    bottom: 50px;
  }
  .content_images_sample
  {
    padding-bottom: 0px;
  }
  .text-wrapper p
  {
    font-size: 15px;
    margin-top: 20px;
  }
  .bottom-content
  {
    display: none!important;
  }
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .content_1
  {
    height: 320px;
  }
  .content_1-box
  {
    margin-top: 0;
    padding: 50px;
  }
  .floating-direction
  {
    margin-top: 59px;
  }
  .content_4-text-container
  {
    margin-top: 0;
  }
  .custom-responsive-partners
  {
    width: 100%;
    margin: 0 auto;
  }
  .custom-navbar-brand
  {
    color: white;
    font-family: 'Montserrat-Regular';
    margin: 0!important;
    font-size: 20px;
  }
   #footer p
  {
    float: left;
    width: 374px;
    margin-left: 10px;
    margin-top: -20px;
  }
  #footer .social
  {
    float: right;
    margin-right: -10px;
    margin-top: -32px;
  }
  #footer .menu
  {
    float: right;
    margin-right: -5px;
    margin-top: 5px;
  }
  .bottom-top-call-animate
  {
    bottom: 0px;
  }
  .bottom-top-call
  {
    bottom: 50px;
  }
  .content_images_sample
  {
    padding-bottom: 0px;
  }
  .text-wrapper p
  {
    font-size: 15px;
    margin-top: 20px;
  }
  .bottom-content
  {
    display: none!important;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .content_1-box
  {
    margin-top: 0;
    padding: 50px;
  }
  .floating-direction
  {
    margin-top: 59px;
  }
  .content_4-text-container
  {
    margin-top: 0;
  }
  .custom-responsive-partners
  {
    width: 100%;
    margin: 0 auto;
  }
  .custom-navbar-brand
  {
    color: white;
    font-family: 'Montserrat-Regular';
    margin: 0!important;
    font-size: 20px;
  }
   #footer p
  {
    float: left;
    width: 374px;
    margin-left: 10px;
    margin-top: -20px;
  }
  #footer .social
  {
    float: right;
    margin-right: -10px;
    margin-top: -32px;
  }
  #footer .menu
  {
    float: right;
    margin-right: -5px;
    margin-top: 5px;
  }
  .bottom-top-call-animate
  {
    bottom: 0px;
  }
  .bottom-top-call
  {
    bottom: 50px;
  }
  .content_images_sample
  {
    padding-bottom: 0px;
  }
  .text-wrapper p
  {
    font-size: 15px;
    margin-top: 20px;
  }
  .bottom-content
  {
    display: none!important;
  }
}
@media only screen and (max-height : 640px) and (max-width: 360px) {
  .content_1
  {
    height: 690px;
  }
  .content_1-box
  {
    margin-top: 0;
    padding: 50px;
  }
  .floating-direction
  {
    margin-top: 59px;
  }
  .content_4-text-container
  {
    margin-top: 0;
  }
  .custom-responsive-partners
  {
    width: 100%;
    margin: 0 auto;
  }
  .custom-navbar-brand
  {
    color: white;
    font-family: 'Montserrat-Regular';
    margin: 0!important;
    font-size: 20px;
  }
  #footer p
  {
    float: left;
    width: 374px;
    margin-left: 10px;
    margin-top: -20px;
  }
  #footer .social
  {
    float: right;
    margin-right: -10px;
    margin-top: -32px;
  }
  #footer .menu
  {
    float: right;
    margin-right: -5px;
    margin-top: 5px;
  }
  .bottom-top-call-animate
  {
    bottom: 0px;
  }
  .bottom-top-call
  {
    bottom: 50px;
  }
  .content_images_sample
  {
    padding-bottom: 0px;
  }
  .text-wrapper p
  {
    font-size: 15px;
    margin-top: 20px;
  }
  .bottom-content
  {
    display: none!important;
  }
}
