@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../css/Montserrat-Regular.ttf') format('truetype')
}
.logo-container img
{
  width: 100px;
  height: auto;
  transform: scale(0.2);
  transition: all 0.5s ease;
}
/* animation */
div.col-md-12, div.col-md-11, div.col-md-10, div.col-md-9, div.col-md-8, div.col-md-7, div.col-md-6, div.col-md-5, div.col-md-4, div.col-md-3, div.col-md-2, div.col-md-1,
{
  transition: all 0.5s ease!important;
}
body 
{
  font-family: Raleway;
  font-weight: normal;
}
html
{
  overflow-y: visible!important;
  min-height: 0!important;
}
.ui-view-container
{
  margin-top: 30px
}
.remove-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.active-header-menu
{
  background: rgba(0,0,0,0.15)!important;
  color: black;
}
.remove-left-padding {
  padding-left: 0 !important;
}
.skin-blue .main-header .navbar .nav>li>a {
    padding: 10px 15px!important;
}

.skin-blue .main-header .navbar .nav.ul-borders>li>a>span {
    font-size: 27px;
}

.skin-blue .main-header .navbar .nav.ul-borders>li {
    /*border-left: 1px solid #181A27;*/
}

.skin-blue .main-header .navbar .nav.ul-borders>li>a {
    padding: 10px 30px!important;
}

.skin-blue .main-header .navbar .nav.navi-right {
    padding: 0px 50px;
    border-left: 1px solid #181A27;
}

.navbar-logo{
  padding-left: 50px;
}





    
.target-recommendatations md-checkbox
{
  width: 100%;
}
ul.sidebar-menu {
    overflow: inherit;
}
ul.sidebar-menu li:first-of-type a {
    border-radius: 5px 5px 0 0;
}
ul.sidebar-menu li:last-of-type > ul > li > a {
    border-radius: 0 0 5px 5px;
}
.report-menu .menu-arrow {
  visibility: hidden;
}

/* BreadCrumb */
.breadcrumb-wrapper * {
  display: inline-block;
  float: left;
}
.breadcrumb-wrapper  label {
  position: relative;
  bottom: -7px;
}
.breadcrumb-list li a {
    border-radius: 0 !important;
    font-size: 12px;
}
.breadcrumb-list {
    list-style: none;
    overflow: hidden;
    font: 18px ''Helvetica'', Arial, Sans-Serif;
    padding-left: 15px;
}
.breadcrumb-list li { 
  float: left; 
}
.breadcrumb-list li a {
  color: white;
  font-size: 12px;
  text-decoration: none; 
  padding: 10px 0 10px 55px;
  background: brown;                   /* fallback color */
  background: hsla(34,85%,35%,1); 
  position: relative; 
  display: block;
  float: left;

}
.breadcrumb-list li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(34,85%,35%,1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
} 
.breadcrumb-list li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
} 
.breadcrumb-list li:first-child a {
  padding-left: 10px;
}
.breadcrumb-list li:first-child a       { background:        #E4471E; }
.breadcrumb-list li:first-child a:after { border-left-color: #E4471E; }
.breadcrumb-list li:first-child a:hover { background: #FC0D1B; }
.breadcrumb-list li:first-child a:hover:after { border-left-color: #FC0D1B !important; }


.breadcrumb-list li:nth-child(2) a       { background:        #FDBF2D; }
.breadcrumb-list li:nth-child(2) a:after { border-left-color: #FDBF2D; }
.breadcrumb-list li:nth-child(2) a:hover { background: #EF9830; }
.breadcrumb-list li:nth-child(2) a:hover:after { border-left-color: #EF9830 !important; }

.breadcrumb-list li:nth-child(3) a       { background:        #8BB544; }
.breadcrumb-list li:nth-child(3) a:after { border-left-color: #8BB544; }
.breadcrumb-list li:nth-child(3) a:hover { background: #71AB49; }
.breadcrumb-list li:nth-child(3) a:hover:after { border-left-color: #71AB49 !important; }

.breadcrumb-list li:nth-child(4) a       { background:        #309EB6; }
.breadcrumb-list li:nth-child(4) a:after { border-left-color: #309EB6; }
.breadcrumb-list li:nth-child(4) a:hover { background: #286090; }
.breadcrumb-list li:nth-child(4) a:hover:after { border-left-color: #286090 !important; }

.breadcrumb-list li:nth-child(5) a       { background:        #7A1F4D; }
.breadcrumb-list li:nth-child(5) a:after { border-left-color: #7A1F4D; }
.breadcrumb-list li:nth-child(5) a:hover { background: #5A0D34; }
.breadcrumb-list li:nth-child(5) a:hover:after { border-left-color: #5A0D34 !important; }

.breadcrumb-list li:nth-child(6) a       { background:        #7A1F4D; }
.breadcrumb-list li:nth-child(6) a:after { border-left-color: #7A1F4D; }
.breadcrumb-list li:nth-child(6) a:hover { background: #5A0D34; }
.breadcrumb-list li:nth-child(6) a:hover:after { border-left-color: #5A0D34 !important; }


.breadcrumb-list li:last-child a {
  background: white !important;
  color: black;
  pointer-events: none;
  cursor: default;
}
.breadcrumb-list li:last-child a:after { border: 0; }

/*------------*/

.report-menu.active .menu-arrow {
  font-size: 22px;
  position: absolute;
  right: -12px;
  color: #000;
  top: 13px;
  cursor: default;
  visibility: visible;
}
.content
{
  background: #EEEEEE !important;
	height: auto;
}
.log-text
{
	color: #FFF;
}
.custom-glyphicon-cog
{
	font-size: 30px;
}
.company-name-container
{
	width: 100%;
  background-color: #FE9900;
	/*background-color: #ECF0F1;*/
	padding: 15px 50px;
	/*border-bottom: 5px solid white;*/
}
.clear-both
{
	clear: both;
}
.company-name-container .text-first
{
	margin: 0;
  font-size: 17px;
  font-weight: normal;
  font-family: Arial;
  color: #606060;
}
.company-name-container .text-second
{
  margin: 0;
  margin-right: 10px;
  font-size: 12px;
  color: #FFF;
  font-family: 'Helvetica';
}
.company-name-container .text-second span
{
  color: #FEFEFE;
  font-weight: bold;
  border-right: 1px solid #F0F0F0;
  padding-right: 5px;
  margin-right: 3px;
  text-shadow: 1px 1px 1px #A9A9A9;
}
.skin-blue .wrapper, .skin-blue .skin-blue .left-side
{
  background-color: #EEEEEE!important;
}
.custom-side-bar
{
	width: auto;
	height: auto;
}
.pb-side-bar
{
    width: 100%;
    height: auto;
    background: #34485E;
    /* margin-left: 10px; */
    margin-top: 33px;
    border-radius: 5px;
    /* float: left; */
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a
{
  color: #fff!important;
  background: #000000!important;
  border-left-color: #292626!important;
  cursor: pointer;
  transition: all 1.5s;
}
.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    color: white!important;
    font-family: Raleway;
    /*font-weight: bold!important;*/
    font-size: 16px!important;
}
.content-wrapper, .right-side, .main-footer
{
	/*margin-left: 0!important;*/
  font-family: 'Helvetica';
	background-color: #EEEEEE!important;
  clear: both;
}
.main-header .logo
{
	height: 50px!important;
}
.custom-ui-view section
{
	/*margin-top: 30px;*/
  overflow: hidden;
}
.form-control {
    border-radius: 4px !important;
}
.msg00,
.alert-success
{ /*alert success*/
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6;
}
.msg01 {
  background: #F8EBC4 !important;
  color: #8a6d3b !important;
  border-color: #FFE8BA;
}
.btn-yellow {
  background: #f1c42c !important;
  border: #f1c42c !important;
  border-radius: 4px !important;
}
.btn-yellow:hover {
  background: #f39c12 !important;
}
.reply-btn {
  margin-top: 10px;
}
.panel-default>.panel-heading {
  background: #17a085 !important;
  color: #fff;
  border-radius: 3px;
}
.panel-group {
    border: 2px solid #229f85;
    border-radius: 4px;
}
.panel-group .panel:not( :last-child ) {
    border-bottom: none;
} 
.panel-group .panel+.panel {
    margin-top: 0;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  padding: 0;
}
.panel-body ul li {
    padding: 5px 10px;
    overflow: hidden;
}
.panel-body ul li a {
  color: #ABB7C1;
  font-family: Raleway;
  font-size: 13px;
  text-decoration: none;
  -moz-transition: all 0.7s ease; /* Firefox */
  -webkit-transition: all 0.7s ease; /* WebKit */
  -o-transition: all 0.7s ease; /* Opera */
  transition: all 0.7s ease; /* Standard */ 
}
.panel-body ul li a:hover {
  color: #000;
}
.panel-title > a {
  font-size: 15px;  
  text-decoration: none;
} 
.panel-title > a i {
  -moz-transition: all 0.7s ease; /* Firefox */
  -webkit-transition: all 0.7s ease; /* WebKit */
  -o-transition: all 0.7s ease; /* Opera */
  transition: all 0.7s ease; /* Standard */
}
.sub-content-wrapper {
    /*width: 100%;*/
    background: #fff;
    border: 2px solid #C8CED1;
    border-radius: 4px;
    /*overflow: hidden;*/
    /*min-height: 500px;*/
    margin-bottom: 50px;
    padding: 15px 0;
}
.input-other {
      width: 300px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 1px;
}
.display-options, .predict-view-wrapper {
    padding: 12px 25px;
}
.display-options ul li > a {
  color: #fff;
  border-radius: 4px;
  border: none;
}
.display-options ul li > a:hover,
.display-options ul li > a:active ,
.btn-action ul li > a:hover,
.btn-action ul li > a:active
{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.display-options ul li > ul li a {
  color: #444;
  border-radius: 4px;
  border: none;
}
.predict-submenu-list {
    background: #111;
    display: none;
}
.predict-submenu-list li {
  padding: 5px 40px;
}
.predict-submenu-list li a {
  color: #fff;
}
.predict-submenu-list li a:hover {
  color: #fff;
}
.rotate {
  -moz-transform: rotate(90deg);    /* Firefox */
  -webkit-transform: rotate(90deg);   /* WebKit */
  font-family: Raleway;-o-transform: rotate(90deg); /* Opera */
  transform: rotate(90deg);       /* Standard */
}

/* Predict */
.alert.msg002 {
  background: #DCEEF6 !important;
  color: #448AB2 !important;
  border-color: #B5E1F5;  
}
.msg > button {
  margin-top: 10px;
}
.content-manager > .row:not( :first-child ) {
    margin-bottom: 30px;
}
.content-manager p.text-heading {
    font-size: 20px;
}
.target-option-wrapper, 
.target-gender
{
  display: inline;
}
.target-gender md-checkbox {
    display: inline-block;
}
.target-option-wrapper .btn-group {
    margin-right: 15px;
}
select option {
  background: #fff;
  color: #333;
}
.btn-create-predict {
  /*margin-top: 30px;*/
}
.age-min-option input::-webkit-input-placeholder,
.age-max-option input::-webkit-input-placeholder
{
  color: #fff;
}
#predict-progress {
  -moz-transition: all 0.7s ease; /* Firefox */
  -webkit-transition: all 0.7s ease; /* WebKit */
  -o-transition: all 0.7s ease; /* Opera */
  transition: all 0.7s ease; /* Standard */ 
}
.bootstrap-switch {
  float: right;
}
.headline-text {
    color: #8A8888;
    font-weight: 600;
    font-family: raleway;
    font-size: 17px;
}
.headline-wrapper > p {
    color: #868686;
    font-size: 13px;
}
.gallery-row {
    overflow: hidden;
}
.gallery-img {
    overflow: hidden;
    padding: 20px 20px 0 20px;
    border-radius: 4px;
    background: #ECF0F1;
}
.gallery-preview-wrapper .gallery-thumbnail .display-image {
  cursor: pointer;
  height: 75px;
}
.gallery-img .owl-carousel .owl-item {
    float: left;
}
.gallery-img .owl-carousel .owl-item img {
    height: 140px;
}
.imgpreview-wrapper {
    margin-top: 30px;
    border-top: 2px solid #ECF0F1;
    padding-top: 17px;
}
.preview-header {
    overflow: hidden;
}
.preview-header > div {
    float: left;
}
.profile-info {
    padding: 4px 5px;
}
.profile-info span,
.date_created 
{
    display: block;
}
.profile-info a {  
    font-size: 12px;
    font-weight: bold;
    color: #445F95;
}
.date_created {
    font-size: 12px;
    color: #A9ADB7;
    display: block;
}
.body-text p {
    font-size: 13px;
}
h2.img-preview-title {
    font-size: 20px;
    font-family: raleway;
}
.preview-permalink a {
    text-transform: uppercase;
    font-size: 10px;
    color: #AFB0B9;
}
button.showpreview-btn {
    float: right;
    border: 1px solid #DCD9D9;
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px #EAE8E8;
}
.preview-footer hr {
    margin: 15px 0 5px;
}
.preview-footer .likes {
    font-size: 12px;
    color: #707071;
}
.emotion-element {
  margin-bottom: 10px;
}
.emotion-element-content > div {
  width: 20%;
  display: inline-block;
  float: left;
  margin-top: 10px;
}
.tags-wrapper > div {
  display: block;
}
.color,
.points-wrapper .points
{
    display: inline-block;
    width: 20%;
    float: left;
    text-align: center;
}
.color-green {
  background: #78AB63; 
}
.color-orange {
  background: #ECAA63; 
}
.color-red {
  background: #CC635A; 
}
.color-blue {
  background: #56A9F6; 
}
.color-violet {
  background: #B26EDF; 
}
.wrapper-color div span.label {
  color: #fff;
}
.wrapper-color-orange div span.label {
 background: #ECAA63; 
}
.wrapper-color-red div span.label {
 background: #CC635A; 
}
.wrapper-color-blue div span.label {
 background: #56A9F6; 
}
.wrapper-color-violet div span.label {
 background: #B26EDF; 
}
.points-wrapper {
    position: relative;
    overflow: hidden;
    clear: both;
}



.main-desc-wrapper {
  font-size: 12px;
  padding: 10px 20px;
}
.text-option {
    margin-bottom: 15px;
}

/* End Predict */

/* Icons Circle Sprites */
.social-media-icons a {
  display: inline-block;
  width: 65px;
}
.icon-media {
    width: 55px;
    transition: all 1s ease;
}
.icon-media:hover,
.active .icon-media
 {
    border: 2px solid #fff;
}
/* End: Icons Circle Sprites */

.btn {
  border-radius: 4px;
}
.btn-success {
  background: #17A085;
  border-color: #17A085;
}
.btn-group > button {
    border-radius: 4px 0 0 4px;
}
.btn-group > .dropdown-toggle:not(:first-child) {
    border-radius: 0 4px 4px 0;
}
.active
{
  transition: all 1.5s;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a
{
  background: rgba(0,0,0,0.15);
}

.main-header .navbar .nav.open>li>a, .main-header .navbar .nav.open>li>a:hover, .main-header .navbar .nav.open>li>a:focus {
  background-color: none !important; 
}
.custom-icon
{
  font-size: 20px!important;
}
.glyphicon
{
  font-family: 'Glyphicons Halflings'!important;
}
/* material */
.md-checkbox.md-default-theme.md-checked, md-checkbox.md-checked .md-icon
{
  background-color: rgba(40, 166, 160, 0.87)!important;
}
.md-checkbox.md-default-theme.md-checked, md-checkbox.md-checked .md-ink-ripple
{
  color: rgba(40, 166, 160, 0.87)!important;
}
md-radio-group.md-default-theme, md-radio-group .md-checked .md-ink-ripple
{
  color: rgba(40, 166, 160, 0.26);
}
md-radio-button.md-default-theme.md-checked, md-radio-button.md-checked .md-off
{
  border-color: rgba(40, 166, 160,0.87);
}
md-radio-button.md-default-theme, md-radio-button .md-on
{
  background-color: rgba(40, 166, 160,0.87);
}
md-progress-circular.md-default-theme, md-progress-circular .md-inner .md-left .md-half-circle
{
  border-left-color: rgb(40, 166, 160);
}
md-progress-circular.md-default-theme, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme, md-progress-circular .md-inner .md-right .md-half-circle
{
  border-top-color: rgb(40, 166, 160);
}
md-progress-circular.md-default-theme, md-progress-circular .md-inner .md-right .md-half-circle
{
  border-right-color: rgb(40, 166, 160);
}
/* End: material */

.loading-predict-container h4
{
  font-style: italic;
  font-weight: bold;
  margin: 2px;
}
.progress
{
  margin-bottom: 0!important;
}
.predict-img-qoute
{
  width: auto;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  margin-top: 15px
}
.predict-quote-container
{
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 50px;
}
.predict-panel-default
{
  background-color: #ECF0F1!important;
  border-radius: 10px;
}
.custom-glyphicon-triangle-left-predict
{
  position: absolute;
  left: -4px;
  top: 50px;
  font-size: 30px;
  color: #ECF0F1;
}
.predict-qoute-text h3
{
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
  font-style: italic;
}
.back-to-dasboard-btn
{
  padding: 10px;
  background-color: #28A6A0;
  color: white;
  font-family: 'Raleway';
  font-size: 20px;
  border-radius: 5px;
}
.demo-images-btn
{
  padding: 10px;
  background-color: #F1C42C;
  color: black;
  font-family: 'Raleway';
  font-size: 20px;
   border-radius: 5px;
}
.btn-container
{
  margin-bottom: 20px;
}
.custom-predict-row
{
  margin: 0!important;
  border: 2px solid #B5B0B0;
  border-radius: 5px;
}
.custom-predict-row p
{
  font-family: 'Arial';
  margin: 10px;
}
.predict-image-container
{
  margin-top: 20px;
}
.predict-image-container img
{
  width: 70%;
  height: 200px;
}
.text-predict-image-container
{
    width: 70%;
}
.text-predict-image-container h3
{
  margin: 2px;
  font-family: 'Raleway';
}
.custom-glyphicon-info-sign
{
  font-size: 25px;
  color: #BDC3C7;
  float: left;
}
.list-predict-info
{
  /*margin-top: 10px;*/
}
.list-predict-info h4
{
  margin-top: 3px;
  margin-left: 35px;
  color: #53585F;
}

/* /////////// */
/* Predict V3 */
/* /////////// */
.predict-wrapper-v3 form input, 
.predict-wrapper-v3 form select {
    min-height: 45px;
    margin-bottom: 10px;
}
.predict-wrapper-v3 form h3 {
    font-size: 25px;
    color: #555;
}
.social-icons {
    float: right;
    position: relative;
    top: -57px;
    padding: 0 20px;
    font-size: 35px;
}

.gallery-title {
    float: left;
    position: absolute;
    top: -68px;
    background: #fff;
    border-radius: 4px 4px 0 0;
    border: 2px solid #C8CED1;
    border-bottom: none;
    left: -12px;
    padding: 0 10px;
}
.image-elements p .element-attribut {
    font-weight: bold;
    width: 95px;
    display: inline-block;
    text-align: right;
}
.list-wrapper {
    min-height: 160px;
    border: 1px solid #333;
    background: #fff;
    position: relative;
    padding: 25px 0;
    margin-bottom: 28px;
    cursor: pointer;
}
.owl-item {
    margin-right: 5px;
}
.list-wrapper:focus {
    outline: none;
}
.list-wrapper.active,
.list-wrapper:hover,
.theme-title label, 
.list-wrapper.active .theme-title label, 
.list-wrapper:hover .theme-title label 
{
    border: 2px solid #28A6A0;
}
.list-wrapper .col-md-12.text-center {
    position: absolute;
    z-index: 1;
    top: -17px;
    padding: 0;
    width: 93%;
}
.theme-title label {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 6px;
    font-weight: 100;
    font-size: 18px;
    background: #fff;
}
.badge-wrapper {
    position: absolute;
    right: -24px;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
    top: -33px;
}
.theme-list-desc {
    padding-right: 0;
}
.theme-list-desc p {
    margin: 0;
    font-size: 11px;
    line-height: 9px;
}
.theme-list-desc p label {
    width: 68px;
    text-align: right;
}
.btn-download-brief {
    padding: 9px 15px;
    background: transparent;
    border-radius: 4px;
    box-shadow: none;
    border: 2px solid #3755C5;
    color: #000;
}
.theme-list-gallery .owl-carousel img {
    height: 75px;
}
.theme-list-gallery .owl-carousel .owl-item {
    width: 85px !important;
}


/*START*/

.bottom-report .your-engagement{
  padding: 50px 20px 20px 20px;
}

.bottom-report .your-top-post{
  padding: 20px;
}

.bottom-report .table{
  
}

.bottom-report .left, .bottom-report .right{
  padding: 10px;
  background: #F7F7F8;
  border:1px solid #DBDBDB;
}

.bottom-report .table tbody td{
  display: table-cell;
  vertical-align: middle;
  border: none;
  font-size: 12px;
}

/* /////////////// */
/* END: Predict V3 */
/* /////////////// */


/* /////////////// */
/* Start: Predict V4 */
/* /////////////// */
#predict-form-content {
    display: none;
    background: #fff;
    padding: 15px;
    margin-bottom: 100px;
    margin-top: 80px;
}
md-input-container.md-block {
    margin-bottom: 0;
}
.social-media-publish button {
    padding: 5px 15px;
    width: 45%;
    display: inline-block;
    background: #3C3E3D;
    border: 1px solid #333;
    color: #fff;
    outline: none;
}
.social-media-publish button:active {
    top: 2px;
    position: relative;
}
.social-media-publish button:hover,
.social-media-publish button.active
{
    background: #FFAD30;
    border: 1px solid #FFAD30;
}
.formSubmit .submit {
    padding: 5px 15px;
    width: 100%;
    display: inline-block;
    background: #29AE6D;
    border: 1px solid #29AE6D;
    color: #fff;
    outline: none;
}
/* /////////////// */
/* END: Predict V4 */
/* /////////////// */


.no-margin {
    margin: 0;
}
.chart-container
{
  padding: 20px;
  margin-left: -30px;
}
#myChart
{
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.chart-container h5
{
  margin-top: 40px;
  width: 80%;
  margin-left: 0px;
  font-size: 20px;
  padding: 5px;
}
.custom-default-image-result-show-container
{
  margin-top: 10px;
  border-radius: 5px;
}
.custom-default-image-result-show-container .panel-heading
{
  background-color: #BDC3C7!important;
  border-radius: 0px!important;
}
.custom-info-show-images
{
  margin-left: 5px;
  font-size: 20px;
  color: #DCDEE0;
  top: 5px;
}
.custom-default-image-result-show-container .panel-body
{
  background-color: #ECF0F1;
  height: 430px;
  overflow: auto;
}
.row-divider
{
  margin-bottom: 20px;
}

.custom-default-image-result-show-container .panel-body::-webkit-scrollbar {
   width: 12px;
}

.custom-default-image-result-show-container .panel-body::-webkit-scrollbar-track { 
   border-radius: 5px;
}

.custom-default-image-result-show-container .panel-body::-webkit-scrollbar-thumb {
    background-color: #BDC3C7 ;
    border-radius: 5px;
}
.active-img-predict
{
  box-shadow: 0px 0px 3px gray;
  border-radius: 2px;
  transition: all 1s ease;
  transform: scale(1.2);
}
.panel-body ul li > a:hover {
  cursor: pointer !important;
}
.groups:hover label.delete-wrapper {
    visibility: visible;
}
label.delete-wrapper {
    margin-right: 5px;
    float: right;
    color: red;
    z-index: 2;
    visibility: hidden;
    cursor: pointer;
}
.lv-backdrop {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0);
  position: absolute!important;
  left: 0;
  top: 0;
  width: 100%!important;
  height: 100%!important;
}
/*Date Picker*/
div#ui-datepicker-div {
    background: #3A99D8;
    color: #fff;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: none;
    border: none;
    color: #fff;
}
a.ui-state-default {
    background: none !important;
    color: #fff !important;
}

.md-input-focused label
{
    color: #FE9900 !important;
}
md-select:not([disabled]):focus .md-select-value,
.md-input-focused .md-input 
{
  border-bottom: 2px solid #FE9900 !important;
}
a.custom-btn-prediction
{
  background: #29AE6D;
  color: #E8E3E3;
  /*border-radius: 0px;*/
  font-size: 12px;
  transition: all 0.9s ease;
}
a.custom-btn-prediction:hover
{
  background: #29AE6D;
  color: white;
}
a.custom-btn-prediction-cancel
{
  background: #7E7F84;
  display: none;
  color: #E8E3E3;
  /*border-radius: 0px;*/
  font-size: 12px;
  transition: all 0.9s ease;
}
a.custom-btn-prediction-cancel:hover
{
  background: #7E7F84;
  color: white;
}
div.loader-wrapper
{
  width: 100%;
  height: 100vh;
  background: #1E8F8A;
  transform: scale(1);
  transition: all 0.5s ease;
  position: fixed;
  z-index: 3000;
  overflow: hidden;
}
.remove-height
{
  height: 0;
}
div.loader-wrapper-info
{
  padding: 100px;
  margin-top: 50px;
}
div.loader-wrapper-info h4
{
  color: white;
  font-family: 'Raleway';
  transition: all 0.5s ease;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes bounce
{
  0% { margin-top: 10px; },
  40% { margin-top: 5px }
  60% { margin-top: 0px; },
  80% { margin-top: -5px; },
  100% { margin-top: -10px; }
}
.pop-up-menu
{
  z-index: 2000;
  position: fixed!important;
  top: 86%!important;
  right: 0!important;
}
a.md-button.md-default-theme.md-warn.md-raised, a.md-button.md-warn.md-raised, a.md-button.md-default-theme.md-warn.md-fab, a.md-button.md-warn.md-fab, .md-button.md-default-theme.md-warn.md-raised, .md-button.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab, .md-button.md-warn.md-fab
{
  background-color: #28A6A0!important;
}
.md-button.md-fab.md-mini
{
  line-height: 50px!important;
}
.md-font
{
  font-size: 18px!important;
}
.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }
.content-wrapper
{
  margin-top: 20px!important;
}
.main-header
{
  background: white!important;
  position: fixed!important;
  width: 100%!important;
  box-shadow: 1px 2px 1px #BBB;
}
.settings-gear
{
  float: right;
  font-size: 13px;
  color: #5f6b64;
  transition: all 0.5s ease;
}
.rotate
{
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.second-word-cloud, .first-word-cloud
{
  border: 5px solid #5F5F5F;
  margin: 20px;
  overflow: hidden;
  padding: 20px!important;
}
/* responsive */
@media only screen and (max-width : 320px) {
  .sub-content-wrapper .hash-container .hash-images img
  {
    width: 48%!important;
    height: 150px;
  }
  .second-row
  {
    margin-top: 10px;
  }
  .report
  {
    padding: 35px!important;
    margin-top: 5px!important;
    margin-bottom: 20px!important;
  }
  .content
  {
    height: auto;
    padding: 15px; 
    margin-right: 0; 
    margin-left: 0; 
    padding-left: 0; 
    padding-right: 0; 
  }
  .pop-up-menu
  {
    display: inline-flex!important;
  }
  .ui-view-container
  {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  .content-wrapper, .right-side, .main-footer
  {
    clear: none;
  }
  .main-header .logo, .main-header .navbar
  {
    /*width: 0;*/
  }
  .logo
  {
    float: left;
  }
  .custom-side-bar-toggle 
  {
    float: right!important;
  }
  .custom-side-bar-toggle
  {
    margin-top: -50px;
  }
  .navigation-top-menu
  {
    display: none;
  }
}

@media only screen and (max-width : 480px) {
  .sub-content-wrapper .hash-container .hash-images img
  {
    width: 48%!important;
    height: 180px!important;
  }
  .second-row
  {
    margin-top: 10px;
  }
  .report
  {
    padding: 35px!important;
    margin-top: 5px!important;
    margin-bottom: 20px!important;
  }
  .content
  {
    height: auto;
    padding: 15px; 
    margin-right: 0; 
    margin-left: 0; 
    padding-left: 0; 
    padding-right: 0; 
  }
  .pop-up-menu
  {
    display: inline-flex!important;
  }
  .ui-view-container
  {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
/*    margin-left: 10px;
    margin-right: 10px;*/
  }
  .content-wrapper, .right-side, .main-footer
  {
    clear: none;
  }
  .main-header .logo, .main-header .navbar
  {
    /*width: 0;*/
  }
  .logo
  {
    float: left;
  }
  .custom-side-bar-toggle 
  {
    float: right!important;
  }
  .custom-side-bar-toggle
  {
    margin-top: -50px;
  }
  .navigation-top-menu
  {
    display: none;
  }
  .data-circle
  {
    max-width: 100px!important;
    height: 70px!important;
    width: 40%!important;
  }
  .color-circles > div
  {
    font-size: 55%!important;
  }
}

@media only screen and (max-width : 720px) {
  .second-row
  {
    margin-top: 10px;
    height: 200px;
  }
  .pop-up-menu
  {
    display: inline-flex!important;
  }
  .main-header .logo, .main-header .navbar
  {
    width: 17%;
  }
  .logo
  {
    float: left;
  }
  .custom-side-bar-toggle 
  {
    float: right!important;
  }
  .custom-side-bar-toggle
  {
    margin-top: -50px;
  }
  .navigation-top-menu
  {
    display: none;
  }
}

@media only screen and (max-width : 992px) {
  .second-row
  {
    margin-top: 10px;
  }
  .sub-content-wrapper .hash-container .hash-images img
  {
    height: 250px;
  }
  .content
  {
    height: auto;
  }
  .pop-up-menu
  {
    display: inline-flex!important;
  }
  .main-header .logo, .main-header .navbar
  {
    width: 100%;
  }
  .logo
  {
    float: left;
  }
  .custom-side-bar-toggle 
  {
    float: right!important;
  }
  .custom-side-bar-toggle
  {
    margin-top: -50px;
  }
  .navigation-top-menu
  {
    display: none;
  }
}
.navbar-logo .logo:focus,.navbar-logo .logo:hover{
  background: none !important;
}
.menu-header-global
{
  color: #fff !important;
  transition: all 0.5s;
}
.active-menu
{
  transition: all 0.5s;
  color: black!important;
  background: white!important;
  border-bottom: 1px solid transparent!important;
}
.active-menu-icon
{
  transition: all 0.5s;
  color: black!important;
}
.custom-table > tbody > tr > td
{
  border-top: none!important;
}
.legend-box
{
  background-color: red;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.map-container
{
  margin: -20px;
}
chart-legend
{
  display: none;
}
#line
{
  width: 100%!important;
}
.main-svg
{
  background: transparent!important;
}
#polar-area
{
  width: 100%;
  height: 400px;
}
.graph-line-box
{
  background-image: url(../img/interest-line.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 30px;
}
.color-circles {
  display: flex;
  align-items: center;
}
.color-circles > div {
  display: flex;
  border-radius: 50%;
  align-items: center;
  margin: auto;
  text-align: center;
  font-size: 80%; 
}
.color-circles > div .data-info {
  margin: auto;
  color: #fff;
}
.color-circles > div small {
  display: block;
  font-size: 10px;
  margin-top: 10px;
}
.data-circle
{
  max-width: 140px;
  height: 120px;
  width: 40%;
  cursor: pointer;
}
.fullwidth {
  width: 100%;
}
.btn-theme {
    background: #3C3E3D;
    border: 1px solid #333;
    color: #fff;
}
.btn-theme:hover,
.btn-theme.active
{
    border: 1px solid #FE9900;
    background: #FFAD30;
    color: #fff;
}
.btn-orange {
    background: #FE9900;
    color: #fff;
}
.btn-orange:hover, 
.btn-orange:focus, 
.btn-theme:hover, 
.btn-theme:focus
.
{
     background: #FFAD30 !important;
    color: #fff !important;
    text-decoration: none;
}
.location-gal .gallery-images .img-detail {
    background: #FFAD30;
    color: #fff;
    padding: 6px 0;
    position: relative;
    top: -32px;
}

.image-list .img-detail {
    background: #FFAD30;
    color: #fff;
    padding: 6px 0;
    position: relative;
    top: -32px;
}
.line-menu
{
  list-style: none;
  margin: 10px auto;
}
.line-menu li a
{
  float: left;
  padding: 10px;
  color: #0655B4;
  margin-left: 50px;
  cursor: pointer;
  transition: all 0.5s ease; 
}
.line-menu li:focus
{
  border: none;
}
.active-line-menu
{
  box-shadow: 0px 0px 2px gray;
  background: #009DF8;
  color: white!important;
  transition: all 0.5s ease;
}
.pie-graph-box
{
  list-style: none;
  margin-top: 15px;
  margin-left: -50px;
}
.pie-graph-box li
{
  float: left;
  margin-left: 10px;
}
.pie-graph-box li span
{
  padding-left: 10px;
  padding-right: 10px;
}
.pie-graph-box li span.first-pie
{
  background: #F34635;
  margin-right: 5px;
}
.pie-graph-box li span.second-pie
{
  background: #4BBEF7;
  margin-right: 5px;
}
.summary-menu
{
  position: fixed;
  z-index: 1;
  margin: 0;
  background: white;
  /*padding: 10px;*/
  /*padding-left: 30px!important;*/
  top: 50px;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
}

.summary-menu-title
{
  font-size: 23px;
}


.influencers-sticky
{
  position: fixed;
  top:140px;
  width: 40%!important;
  transition: all 0.5s ease;
}
.high-light-influencer
{
  background: #D8D8D8!important;
  color: white!important;
  transition: all 0.5 ease;
}
.global_influence:hover
{
  background: #D8D8D8!important;
  color: white!important;
  transition: all 0.5 ease;
}
/* graph*/
.p1_segmentMainLabel-outer, .p2_segmentMainLabel-outer, .p0_segmentPercentage-inner
{
  font-size: 12px!important;
  font-family: 'Helvetica'!important;
}
.p1_segmentValue-inner, .p0_segmentValue-inner, .p2_segmentValue-inner
{
  font-size: 20px!important;
}
#p2_segmentMainLabel0-outer, #p2_segmentMainLabel1-outer
{
  /*font-size: 9px!important;*/
}

/*end og graph*/
.btn-white {
    background: #fff;
    border: 2px solid #3C3E3D;
    color: #3C3E3D !important;
}
.heading-left {
    background: #3C3E3D;
    color: #fff;
    padding: 1px 0 8px;
}
.galler-tags.list-unstyled li {
    color: #9FA7B4;
    padding: 8px 0px;
}
.detail {
    position: relative;
    bottom: 0;
    /* width: 97%; */
    font-size: 10px;
    color: #fff;
    background: #FFAD30;
    display: block;
    /* left: 15px; */
    /* right: 15px; */
    padding: 5px;
}
.gallery-images > div {
    margin-bottom: 20px;
}