body
{
  background-image: url(../img/bg-integrity.png);
  font-family: 'Lato';
}
.custom-navbar
{
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;!important;
  padding: 20px;
}
.custom-navbar-brand img
{
  height: 30px;
  margin-left: 50px;
}
.hovered-header-text .navbar-text:hover
{
  color: #777!important;
}
.custom-navbar-text .navbar-text:hover
{
  color: #16AD8F!important;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.5s;
}
.custom-navbar-text .navbar-text
{
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D2CBCB!important;
  font-size: 12px;
  font-family: "Raleway","Helvetica Neue",Helvetica,sans-serif;
  border: 2px solid transparent;
}
.replaced-navbar
{
  background-color: #FFFFFF;
  transition: all 1s;
}
.policy-header
{
  font-weight: bold;
  font-size: 15px;
  color: #737171;
}
.policy-text p
{
  line-height: 30px;
  color: #736F6F;
  font-size: 15px;
}
.term-text
{
  color: #736F6F;
  font-size: 15px;
}
.registration-info
{
  line-height: 30px;
  color: #736F6F;
  font-size: 17px;
}
.registration-info p
{
  margin-bottom: 20px;
}
.consent-security
{
  line-height: 30px;
  color: #736F6F;
  font-size: 17px;
}
.indentifiable-info
{
  line-height: 30px;
  color: #736F6F;
  font-size: 17px;
}
.main-footer-section-1
{
  width: 100%;
  background-color: #4E4D4D;
}
.custom-col-lg-6-footer-section
{
  padding: 40px;
}
.main-footer-title-text
{
  width: 90%;
  border-bottom: 2px solid #716C6C;
  margin-left: 50px;
  height: 80px;
}
.main-footer-text p
{
  font-family: 'Raleway';
  color: #d4f4f2;
  font-weight: 700;
  font-size: 20px;
}
.main-footer-title-p
{
  width: 90%;
  margin-top: 20px;
  margin-left: 40px;
}
.main-footer-title-p p
{
  color: #bcbcbc;
}
.main-footer-title-p a
{
  color: #d4f4f2;
  font-weight: bold;
  font-size: 10px;
}
.main-footer-title-text p
{
  font-size: 20px;
  color: #d4f4f2;
  font-family: 'Raleway';
  font-weight: bold;
}
.secondary-footer-section
{
  padding: 30px;
  background-color: #3E3C3C;
}
.secondary-footer-section .col-lg-2 p
{
  color: #716F6F;
  font-weight: bold;
}
.secondary-footer-section .custom-div
{
  margin-left: 50px;
}
.secondary-footer-ul
{
  list-style: none;
  margin-left: -45px;
}
.secondary-footer-ul li
{
  padding: 5px;
}
.secondary-footer-ul li a
{
  color: #ADABAB;
  font-weight: 400;
}
.secondary-footer-info
{
  list-style: none;
  text-align: right;
}
.custom-btn-secondary-footer
{
  margin-bottom: 20px;
  background-color: #0EA5A0;
  border: none;
  border-radius: 4px;
  color: white;
  box-shadow: 0px 0px 3px black;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 15px 15px 15px;
}
.bottom-content
{
  display: none;
}
.bottom-content:hover
{
  cursor: pointer;
}
.bottom-top-call
{
  color: white;
  background-color: gray;
  padding: 1px;
  border-radius: 50%;
  font-size: 40px!important;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  transform: scale(0);
  transition: all 1s;
}
.bottom-top-call-animate
{
  bottom: 10px;
  transform: scale(1);
  transition: all 1s;
}
/*.question-container
{
  padding: 25px;
}
.question-text
{
  padding: 20px;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Raleway';
  color: #777;
}
.btn-custom-question
{
  color: #fff;
  border-color: #1a9c97;
  background-color: #1a9c97;
  margin-bottom: 0.25em;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
  box-shadow: 0px 1px 4px black;
  border-radius: 2px;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 11px;
  padding: 10px 20px 10px 20px;
}
.main-*/questions
{
  background-color: #adede8;
  width: 100%;
  text-align: center;
}
