<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Download PDF</title>
	<link rel="shortcut icon" href="{{ asset('/img/favicon.jpg') }}" />
	<link href="../css/bootstrap.css" rel="stylesheet">
	<style>
	.page-break {
	    page-break-after: always;
	}
	</style>
 </head>
 <body>
	<table class="table table-hover table-striped table-bordered">
		<thead>
			<tr>
				<th style="width:250px;text-align:left">Filename</th>
				<th style="width:250px;text-align:left">Clarifai</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>

	<div id="a" style="color:#000"></div>


 </body>

 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
 	<script type="text/javascript">
 		$.get( window.location.origin + 'dl/clarifai' )
		  	.done(function( data ) {
				$( '#a' ).html( data );
		    // 	for (var i = data.length - 1; i >= 0; i--) {
 					// // var row = 	'<tr>' + 
 					// // 		  	'<td>' + data[i].filename + '</td>'
 					// // 		  	'<td>' + data[i].clarifai + '</td>'
 					// // 		  	'</tr>';
		    // 	};
		  	});
 	</script>

 </html>