/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_6239753f4e1aaec32ad8c5b7dcffb4d7.eot");
  src: url("./fontcustom_6239753f4e1aaec32ad8c5b7dcffb4d7.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_6239753f4e1aaec32ad8c5b7dcffb4d7.woff") format("woff"),
       url("./fontcustom_6239753f4e1aaec32ad8c5b7dcffb4d7.ttf") format("truetype"),
       url("./fontcustom_6239753f4e1aaec32ad8c5b7dcffb4d7.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_6239753f4e1aaec32ad8c5b7dcffb4d7.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-camera:before,
.icon-eye:before,
.icon-flask:before,
.icon-folder:before,
.icon-graph:before,
.icon-handshake:before,
.icon-home:before,
.icon-pin:before,
.icon-read:before,
.icon-settings:before,
.icon-speech:before,
.icon-square:before,
.icon-theme:before,
.icon-user-icon:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-camera:before { content: "\f100"; }
.icon-eye:before { content: "\f101"; }
.icon-flask:before { content: "\f102"; }
.icon-folder:before { content: "\f103"; }
.icon-graph:before { content: "\f104"; }
.icon-handshake:before { content: "\f105"; }
.icon-home:before { content: "\f106"; }
.icon-pin:before { content: "\f107"; }
.icon-read:before { content: "\f108"; }
.icon-settings:before { content: "\f109"; }
.icon-speech:before { content: "\f10a"; }
.icon-square:before { content: "\f10d"; }
.icon-theme:before { content: "\f10b"; }
.icon-user-icon:before { content: "\f10c"; }
